<p id="notice"><%= notice %></p>

<p>
  <strong>Nrid:</strong>
  <%= @esod_outgoing_letter.nrid %>
</p>

<p>
  <strong>Numer ewidencyjny:</strong>
  <%= @esod_outgoing_letter.numer_ewidencyjny %>
</p>

<p>
  <strong>Tytul:</strong>
  <%= @esod_outgoing_letter.tytul %>
</p>

<p>
  <strong>Wysylka:</strong>
  <%= @esod_outgoing_letter.wysylka %>
</p>

<p>
  <strong>Identyfikator rodzaju dokumentu wychodzacego:</strong>
  <%= @esod_outgoing_letter.identyfikator_rodzaju_dokumentu_wychodzacego %>
</p>

<p>
  <strong>Data pisma:</strong>
  <%= @esod_outgoing_letter.data_pisma %>
</p>

<p>
  <strong>Numer wersji:</strong>
  <%= @esod_outgoing_letter.numer_wersji %>
</p>

<p>
  <strong>Id zalozyl:</strong>
  <%= @esod_outgoing_letter.id_zalozyl %>
</p>

<p>
  <strong>Id aktualizowal:</strong>
  <%= @esod_outgoing_letter.id_aktualizowal %>
</p>

<p>
  <strong>Data zalozenia:</strong>
  <%= @esod_outgoing_letter.data_zalozenia %>
</p>

<p>
  <strong>Data aktualizacji:</strong>
  <%= @esod_outgoing_letter.data_aktualizacji %>
</p>

<p>
  <strong>Initialized from esod:</strong>
  <%= @esod_outgoing_letter.initialized_from_esod %>
</p>

<p>
  <strong>Netpar user:</strong>
  <%= @esod_outgoing_letter.netpar_user %>
</p>

<%= link_to 'Edit', edit_esod_outgoing_letter_path(@esod_outgoing_letter) %> |
<%= link_to 'Back', esod_outgoing_letters_path %>
