<div class="row">
  <div class="col-sm-1">
    <%= image_tag("incoming_letter.jpg") %>
  </div> <!--/col-sm-1 -->

  <div class="col-sm-11">

    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= Esod::IncomingLetter.human_attribute_name(:nrid) %></th>
            <th><%= Esod::IncomingLetter.human_attribute_name(:numer_ewidencyjny) %></th>
            <th><%= Esod::IncomingLetter.human_attribute_name(:tytul) %></th>
            <th><%= Esod::IncomingLetter.human_attribute_name(:data_wplyniecia) %></th>
            <th><%= Esod::IncomingLetter.human_attribute_name(:termin_na_odpowiedz) %></th>
            <th><%= Esod::IncomingLettersMatter.human_attribute_name(:sygnatura) %></th>
            <th><%= Esod::Contractor.human_attribute_name(:fullname) %></th>
            <th><%= Esod::Address.human_attribute_name(:fullname) %></th>
          </tr>
        </thead>

        <tbody>
          <% @esod_matter.esod_incoming_letters_matters.order(id: :desc).each do |letter_matter| %>
              <tr>
                <td><%= letter_matter.esod_incoming_letters.nrid %></td>
                <td><%= letter_matter.esod_incoming_letters.numer_ewidencyjny %></td>
                <td><%= letter_matter.esod_incoming_letters.tytul %></td>
                <td><%= letter_matter.esod_incoming_letters.data_wplyniecia %></td>
                <td><%= letter_matter.esod_incoming_letters.termin_na_odpowiedz %></td>
                <td><%= letter_matter.sygnatura %></td>
                <td><%= letter_matter.esod_incoming_letters.esod_contractor.fullname %></td>
                <td><%= letter_matter.esod_incoming_letters.esod_address.fullname %></td>
              </tr>
          <% end %>

        </tbody>
      </table>
    </div> <!--/col-sm-12 -->

    <div class="col-sm-12">
      <div class="row">
      </div> <!--/row -->
    </div> <!--/col-sm-12 -->

  </div> <!--/col-sm-11 -->
</div> <!--/row -->
