<p id="notice"><%= notice %></p>

<p>
  <strong>Nrid:</strong>
  <%= @esod_case.nrid %>
</p>

<p>
  <strong>Znak:</strong>
  <%= @esod_case.znak %>
</p>

<p>
  <strong>Symbol jrwa:</strong>
  <%= @esod_case.symbol_jrwa %>
</p>

<p>
  <strong>Tytul:</strong>
  <%= @esod_case.tytul %>
</p>

<p>
  <strong>Termin realizacji:</strong>
  <%= @esod_case.termin_realizacji %>
</p>

<p>
  <strong>Identyfikator kategorii sprawy:</strong>
  <%= @esod_case.identyfikator_kategorii_sprawy %>
</p>

<p>
  <strong>Adnotacja:</strong>
  <%= @esod_case.adnotacja %>
</p>

<p>
  <strong>Identyfikator stanowiska referenta:</strong>
  <%= @esod_case.identyfikator_stanowiska_referenta %>
</p>

<p>
  <strong>Czy otwarta:</strong>
  <%= @esod_case.czy_otwarta %>
</p>

<p>
  <strong>Esod created at:</strong>
  <%= @esod_case.esod_created_at %>
</p>

<p>
  <strong>Esod updated et:</strong>
  <%= @esod_case.esod_updated_et %>
</p>

<%= link_to 'Edit', edit_esod_case_path(@esod_case) %> |
<%= link_to 'Back', esod_cases_path %>
