<div class="col-sm-12">
  <h3><span class="glyphicon glyphicon-time" aria-hidden="true"> 
    <%= t "pages.work.index.title" %>  
    </span>
  </h3>
</div> <!--/col-sm-12 -->


<div class="col-sm-12">
  <table id="works" class="hover cell-border compact" data-source="<%= datatables_index_works_path(format: :json) %>">
    <thead>
      <tr>
        <th>0 ID </th>
        <th>1 <%= Work.human_attribute_name(:created_at) %></th>
        <th>2 <%= Work.human_attribute_name(:owner_type) %></th>
        <th>3 <%= Work.human_attribute_name(:action) %></th>
        <th>4 <%= Work.human_attribute_name(:trackable_type) %></th>
        <th>5 <%= Work.human_attribute_name(:trackable_id) %></th>
        <th>6 <%= Work.human_attribute_name(:parameters) %></th>
      </tr>
    </thead>

    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->

