<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @individual.number %>
</p>

<p>
  <strong>Date of issue:</strong>
  <%= @individual.date_of_issue %>
</p>

<p>
  <strong>Valid thru:</strong>
  <%= @individual.valid_thru %>
</p>

<p>
  <strong>License status:</strong>
  <%= @individual.license_status %>
</p>

<p>
  <strong>Application date:</strong>
  <%= @individual.application_date %>
</p>

<p>
  <strong>Call sign:</strong>
  <%= @individual.call_sign %>
</p>

<p>
  <strong>Category:</strong>
  <%= @individual.category %>
</p>

<p>
  <strong>Transmitter power:</strong>
  <%= @individual.transmitter_power %>
</p>

<p>
  <strong>Certificate number:</strong>
  <%= @individual.certificate_number %>
</p>

<p>
  <strong>Certificate date of issue:</strong>
  <%= @individual.certificate_date_of_issue %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= @individual.certificate %>
</p>

<p>
  <strong>Payment code:</strong>
  <%= @individual.payment_code %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @individual.payment_date %>
</p>

<p>
  <strong>Station city:</strong>
  <%= @individual.station_city %>
</p>

<p>
  <strong>Station street:</strong>
  <%= @individual.station_street %>
</p>

<p>
  <strong>Station house:</strong>
  <%= @individual.station_house %>
</p>

<p>
  <strong>Station number:</strong>
  <%= @individual.station_number %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @individual.customer %>
</p>

<p>
  <strong>Note:</strong>
  <%= @individual.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @individual.user %>
</p>

<%= link_to 'Edit', edit_individual_path(@individual) %> |
<%= link_to 'Back', individuals_path %>
