<td>
  <%= link_to division.id, division %>
</td>
<td>
  <%= link_to division.short_name, division %>
</td>
<td>
  <%= division.category %>
</td>
<td>
  <%= division.number_prefix %>
</td>
<td>
  <%= division.name %>
</td>
<td>
  <%= division.for_new_certificate? ? '' : 'blokada nowych' %>
</td>
<td>
  <%= division.proposal_via_internet? ? '' : 'blokada via "Elektroniczne Zgłoszenia"' %>
</td>
