<div class="row">
  <div class="col-sm-1">
    <%= image_tag("#{image}") %>
    <%= t "pages.certificate_#{category_service}.index.title" %>
  </div> <!--/col-sm-1 -->

  <div class="col-sm-11">

    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th> </th>
            <th><%= Certificate.human_attribute_name(:flat_all_esod_matters) %></th>
            <th><%= Certificate.human_attribute_name(:number) %></th>
            <th><%= Certificate.human_attribute_name(:date_of_issue) %></th>
            <th><%= Certificate.human_attribute_name(:valid_thru) %></th>
            <th><%= Certificate.human_attribute_name(:division_id) %></th>
            <th><%= Certificate.human_attribute_name(:exam_id) %></th>
            <th>Akcje</th>
          </tr>
        </thead>

        <tbody>
          <% cert_collection.order(date_of_issue: :desc).each do |certificate| %>
              <tr>
                <td>
                  <% @attach = certificate.documents.where(fileattach_content_type: ['image/jpeg', 'image/png', 'application/pdf']).last %>

                  <% if @attach.present? %>
                    <%= link_to image_tag( get_fileattach_as_small_image(@attach, certificate.category.downcase) ), 
                        certificate_path(certificate, category_service: certificate.category.downcase, back_url: customer_path(@customer)) %>
                  <% end %>

                </td>
                <td><%= certificate.flat_all_esod_matters %></td>
                <td>
                  <%= link_to certificate.number, certificate_path(certificate, category_service: certificate.category.downcase, back_url: customer_path(@customer)) %>
                </td>
                <td><%= certificate.date_of_issue %></td>
                <td><%= certificate.valid_thru %></td>
                <td><%= certificate.division.name %></td>
                <td>
                  <%= link_to certificate.exam.fullname, exam_path(certificate.exam, category_service:  certificate.exam.category.downcase, back_url: customer_path(@customer)) %>
                </td>
                <td>
                  <%= link_to ' ', certificate_path(certificate, category_service: certificate.category.downcase, back_url: customer_path(@customer)), 
                        :class => "glyphicon glyphicon-eye-open", title: t('tooltip.show'), rel: 'tooltip' %>
                    
                  <%= link_to ' ', certificate_path(certificate, category_service: certificate.category.downcase, back_url: customer_path(@customer)),
                        method: :delete,
                        data: { confirm: t('helpers.links.confirm_destroy', data: certificate.fullname) }, 
                        :class => "glyphicon glyphicon-trash", title: t('tooltip.destroy'), rel: 'tooltip' %>

                </td>
              </tr>
          <% end %>

        </tbody>
      </table>
    </div> <!--/col-sm-12 -->

    <div class="col-sm-12">
      <div class="row">
        <% if certificate_policy_check(:certificate, category_service, 'new') %>
          <%= link_to t('New', default: t("helpers.links.new")), new_certificate_path(category_service: category_service, customer_id: @customer.id, back_url: customer_path(@customer)), 
                              :class => 'btn btn-primary glyphicon glyphicon-plus' %> 
        <% end %>
      </div> <!--/row -->
    </div> <!--/col-sm-12 -->

  </div> <!--/col-sm-11 -->
</div> <!--/row -->
<div class="row">
  <hr>
</div> <!--/row -->
