<div class="row">
  <div class="col-sm-1">
    <%= image_tag("#{image}") %>
    <%= t "pages.examination_#{category_service}.index.title" %>
  </div> <!--/col-sm-1 -->

  <div class="col-sm-11">

    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th> </th>
            <th><%= Examination.human_attribute_name(:flat_all_esod_matters) %></th>
            <th><%= Examination.human_attribute_name(:esod_category) %></th>
            <th><%= Examination.human_attribute_name(:division_id) %></th>
            <th><%= Examination.human_attribute_name(:examination_result) %></th>
            <th><%= Examination.human_attribute_name(:exam_id) %></th>
            <th><%= Examination.human_attribute_name(:certificate_id) %></th>
            <th><%= Examination.human_attribute_name(:note) %></th>
            <th>Akcje</th>
          </tr>
        </thead>

        <tbody>
          <% exam_collection.each do |examination| %>
              <tr>
                <td>
                  <% @attach = examination.documents.where(fileattach_content_type: ['image/jpeg', 'image/png', 'application/pdf']).last %>

                  <% if @attach.present? %>
                    <%= link_to image_tag( get_fileattach_as_small_image(@attach, 'e')   ), 
                        examination_path(examination, category_service: examination.category.downcase, back_url: customer_path(@customer)) %>
                  <% end %>

                </td>
                <td><%= examination.flat_all_esod_matters %></td>
                <td><%= examination.esod_category_name %></td>
                <td><%= examination.division.name %></td>
                <% if    examination.examination_result == 'P' %> <!-- pozytywny -->
                  <td class="success"><%= examination.examination_result_name %></td>
                <% elsif examination.examination_result == 'B' %> <!-- Negatywny bez prawa do poprawki -->
                  <td class="danger"><%= examination.examination_result_name %></td>
                <% elsif examination.examination_result == 'N' %> <!-- Negatywny z prawem do poprawki -->
                  <td class="warning"><%= examination.examination_result_name %></td>
                <% else %> <!-- brak wpisu lub Nieobecność lub Zmiana terminu-->
                  <td ><%= examination.examination_result_name %></td>
                <% end %>                
                <td>
                  <%= link_to examination.exam.fullname, exam_path(examination.exam, category_service:  examination.exam.category.downcase, back_url: customer_path(@customer)) %>
                </td>
                <td>
                  <%= link_to examination.certificate.fullname, certificate_path(examination.certificate, category_service: examination.certificate.category.downcase, back_url: customer_path(@customer)) if examination.certificate.present? %>
                </td>
                <td><%= examination.note %></td>
                <td>
                  <%= link_to ' ', examination_path(examination, category_service: examination.category.downcase, back_url: customer_path(@customer)), 
                        :class => "glyphicon glyphicon-eye-open", title: t('tooltip.show'), rel: 'tooltip' %>
                    
                  <%= link_to ' ', examination_path(examination, category_service: examination.category.downcase, back_url: customer_path(@customer)),
                        method: :delete,
                        data: { confirm: t('helpers.links.confirm_destroy', data: examination.fullname) }, 
                        :class => "glyphicon glyphicon-trash", title: t('tooltip.destroy'), rel: 'tooltip' %>

                </td>
                <td>
                  
                </td>
              </tr>
          <% end %>

        </tbody>
      </table>
    </div> <!--/col-sm-12 -->

    <div class="col-sm-12">
      <div class="row">
        <% if examination_policy_check(:examination, category_service, 'new') %>
          <%= link_to t('New', default: t("helpers.links.new")), new_examination_path(category_service: category_service, customer_id: @customer.id, back_url: customer_path(@customer)), 
                              :class => 'btn btn-primary glyphicon glyphicon-plus' %> 
        <% end %>
      </div> <!--/row -->
    </div> <!--/col-sm-12 -->

  </div> <!--/col-sm-11 -->
</div> <!--/row -->
<div class="row">
  <hr>
</div> <!--/col-sm-12 -->
