<% input_disabled ||= false  
   #if input_disabled is not passed to the partial it doesn't crash. 
   # We default it to false 
%>

<%= form_errors_for @customer %>

<div class="row">
  <div class="col-sm-12">
    <div class="row">

      <div class="form-group col-sm-6">
        <p><strong><%= Customer.human_attribute_name(:name) %></strong></p>
        <h5><%= @customer.name %></h5>
      </div>

      <div class="form-group col-sm-4">
        <p><strong><%= Customer.human_attribute_name(:given_names) %></strong></p>
        <h5><%= @customer.given_names %></h5>
      </div>

      <div class="form-group col-sm-2">
        <p><strong><%= Customer.human_attribute_name(:human) %></strong></p>
        <h5><%= @customer.human? ? 'Tak' : 'Nie' %></h5>
      </div>

    </div>  <!-- /row -->
  </div>  <!-- /col-sm-12 -->
</div>  <!-- /row -->

<hr class="hr-without-margins">

<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <small class="help-block pull-right"><%=t 'help_block_text.customer.form.address' %></small>
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <p><strong><%= Customer.human_attribute_name(:address_city) %></strong></p>
        <h5><%= @customer.address_city %></h5>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-8">
        <p><strong><%= Customer.human_attribute_name(:address_street) %></strong></p>
        <h5><%= @customer.address_street %></h5>
      </div>
      <div class="form-group col-sm-2">
        <p><strong><%= Customer.human_attribute_name(:address_house) %></strong></p>
        <h5><%= @customer.address_house %></h5>
      </div>
      <div class="form-group col-sm-2">
        <p><strong><%= Customer.human_attribute_name(:address_number) %></strong></p>
        <h5><%= @customer.address_number %></h5>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-3">
        <p><strong><%= Customer.human_attribute_name(:address_postal_code) %></strong></p>
        <h5><%= @customer.address_postal_code %></h5>
      </div>
      <div class="form-group col-sm-6">
        <p><strong><%= Customer.human_attribute_name(:address_post_office) %></strong></p>
        <h5><%= @customer.address_post_office %></h5>
      </div>
      <div class="form-group col-sm-3">
        <p><strong><%= Customer.human_attribute_name(:address_pobox) %></strong></p>
        <h5><%= @customer.address_pobox %></h5>
     </div>
    </div>

    <hr class="hr-without-top-margin">

    <div class="row">
      <div class="form-group col-sm-4">
        <p><strong><%= Customer.human_attribute_name(:birth_date) %></strong></p>
        <h5><%= @customer.birth_date %></h5>
      </div>

      <div class="form-group col-sm-8">
        <p><strong><%= Customer.human_attribute_name(:birth_place) %></strong></p>
        <h5><%= @customer.birth_place %></h5>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <p><strong><%= Customer.human_attribute_name(:fathers_name) %></strong></p>
        <h5><%= @customer.fathers_name %></h5>
      </div>

      <div class="form-group col-sm-6">
        <p><strong><%= Customer.human_attribute_name(:mothers_name) %></strong></p>
        <h5><%= @customer.mothers_name %></h5>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <p><strong><%= Customer.human_attribute_name(:family_name) %></strong></p>
        <h5><%= @customer.family_name %></h5>
      </div>

      <div class="form-group col-sm-6">
        <p><strong><%= Customer.human_attribute_name(:citizenship_id) %></strong></p>
        <h5><%= @customer.citizenship.fullname %></h5>
      </div>
    </div>
  </div> <!-- /col-sm-6 -->


  <div class="col-sm-6">
    <div class="row">
      <small class="help-block pull-right"><%=t 'help_block_text.customer.form.c_address' %></small>
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <p><strong><%= Customer.human_attribute_name(:c_address_city) %></strong></p>
        <h5><%= @customer.c_address_city %></h5>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-8">
        <p><strong><%= Customer.human_attribute_name(:c_address_street) %></strong></p>
        <h5><%= @customer.c_address_street %></h5>
      </div>
      <div class="form-group col-sm-2">
        <p><strong><%= Customer.human_attribute_name(:c_address_house) %></strong></p>
        <h5><%= @customer.c_address_house %></h5>
      </div>
      <div class="form-group col-sm-2">
        <p><strong><%= Customer.human_attribute_name(:c_address_number) %></strong></p>
        <h5><%= @customer.c_address_number %></h5>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-3">
        <p><strong><%= Customer.human_attribute_name(:c_address_postal_code) %></strong></p>
        <h5><%= @customer.c_address_postal_code %></h5>
      </div>
      <div class="form-group col-sm-6">
        <p><strong><%= Customer.human_attribute_name(:c_address_post_office) %></strong></p>
        <h5><%= @customer.c_address_post_office %></h5>
      </div>
      <div class="form-group col-sm-3">
        <p><strong><%= Customer.human_attribute_name(:c_address_pobox) %></strong></p>
        <h5><%= @customer.c_address_pobox %></h5>
      </div>
    </div>

    <hr class="hr-without-top-margin">

    <div class="row">
      <div class="form-group col-sm-4">
        <p><strong><%= Customer.human_attribute_name(:pesel) %></strong></p>
        <h5><%= @customer.pesel %></h5>
      </div>

      <div class="form-group col-sm-4">
        <p><strong><%= Customer.human_attribute_name(:nip) %></strong></p>
        <h5><%= @customer.nip %></h5>
      </div>

      <div class="form-group col-sm-4">
        <p><strong><%= Customer.human_attribute_name(:regon) %></strong></p>
        <h5><%= @customer.regon %></h5>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-4">
        <p><strong><%= Customer.human_attribute_name(:phone) %></strong></p>
        <h5><%= @customer.phone %></h5>
      </div>

      <div class="form-group col-sm-4">
        <p><strong><%= Customer.human_attribute_name(:fax) %></strong></p>
        <h5><%= @customer.fax %></h5>
      </div>

      <div class="form-group col-sm-4">
        <p><strong><%= Customer.human_attribute_name(:email) %></strong></p>
        <h5><%= @customer.email %></h5>
      </div>
    </div>

    <div class="form-group">
      <p><strong><%= Customer.human_attribute_name(:note) %></strong></p>
      <h5><%= @customer.note %></h5>
    </div>

  </div> <!-- /col-sm-6 -->
</div> <!-- /row -->

<hr class="hr-without-top-margin">

<% if input_disabled %>
  <!-- for "Show" -->
  <div class="row">

    <%= link_to customers_path(), class: "btn btn-default" do %>
      <span class="fa fa-list"></span>
      <%= t("helpers.links.index") %>
    <% end %>

    <%= link_to :back, class: "btn btn-default" do %>
      <span class="fa fa-undo"></span>
      <%= t("helpers.links.back") %>
    <% end %>

    <% if policy(@customer).destroy? %>

      <%= link_to customer_path(@customer),
                          method: :delete,
                          data: { confirm: t('helpers.links.confirm_destroy', data: @customer.fullname) }, 
                          class: "btn btn-danger" do %>
        <span class="fa fa-trash-o"></span>
        <%= t("helpers.links.destroy") %>
      <% end %>

    <% end %>
    <% if policy(@customer).edit? %>

      <%= link_to edit_customer_path(@customer), class: "btn btn-primary" do %>
        <span class="fa fa-edit"></span>
        <%= t("helpers.links.edit") %>
      <% end %>

    <% end %>
    <% if policy(@customer).merge? %>
      <button class="btn btn-warning glyphicon glyphicon-link pull-right" type="button" data-toggle="collapse" data-target=".link-form" aria-expanded="false" > Scalanie kartotek
      </button>
    <% end %>
  </div> <!-- /row -->

<% else %>
  <!-- form "New"/"Edit" -->
<% end %>

<div class="row link-form collapse">

  <%= render partial: "merge", locals: {destination: @customer} %>

</div> <!-- /row attach-form collapse -->
