<%= form_for [@customer], :html => { :role => 'form customer' } do |f| %>

  <% input_disabled ||= false  
     #if input_disabled is not passed to the partial it doesn't crash. 
     # We default it to false 
  %>

  <%= form_errors_for @customer %>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">

        <div class="form-group col-sm-6">
          <%= f.label :name, class: 'control-label' %>
          <%= f.text_field :name, autofocus: true, class: 'form-control input-sm', disabled: input_disabled %>
        </div>

        <div class="form-group col-sm-4">
          <div class="human" >
            <%= f.label :given_names, class: 'control-label' %>
            <%= f.text_field :given_names, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>

        <div class="form-group col-sm-2">
          <%= f.label :human, class: 'control-label' %><br>
          <%= f.check_box :human, disabled: input_disabled, id: "human_switch" %>
        </div>

      </div>  <!-- /row -->
    </div>  <!-- /col-sm-12 -->
  </div>  <!-- /row -->

  <hr class="hr-without-margins">

  <div class="row">
    <div class="col-sm-6">

      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.check_box :lives_in_poland, autofocus: true, onclick: "terytIsRequired(this.checked)" %>&nbsp;&nbsp; 
          <%= f.label :lives_in_poland, class: 'control-label' %>
        </div>
        <div class="form-group col-sm-4">
          <small class="help-block pull-right"><%=t 'help_block_text.customer.form.address' %></small>
        </div>
      </div> <!--/row -->

      <div class="row">
        <div class="form-group required col-sm-12 show_if_lives_in_poland">
          <%= f.label :address_id, class: "control-label" %> 
          <%= f.hidden_field :address_id, 
                            class: "form-control input-sm", 
                            placeholder: "Wyszukaj adres",
                            style: "width:100%",
                            disabled: false, #!@proposal.lives_in_poland,
                            id: "customer_address_select2teryt_items",
                            autofocus: false %>
        </div>
      </div> <!--/row -->

      <%= f.hidden_field :teryt_code %>
      <%= f.hidden_field :province_name %>
      <%= f.hidden_field :province_code %>
      <%= f.hidden_field :district_name %>
      <%= f.hidden_field :district_code %>
      <%= f.hidden_field :commune_name %>
      <%= f.hidden_field :commune_code %>
      <%= f.hidden_field :city_name %>
      <%= f.hidden_field :city_code %>
      <%= f.hidden_field :city_parent_name %>
      <%= f.hidden_field :city_parent_code %>
      <%= f.hidden_field :street_attribute %>
      <%= f.hidden_field :street_name %>
      <%= f.hidden_field :street_code %>
      <%= f.hidden_field :post_code %>
      <%= f.hidden_field :post_code_numbers %>

      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :address_city, class: 'control-label' %>
          <%= f.text_field :address_city, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :address_street, class: 'control-label' %>
          <%= f.text_field :address_street, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-2">
          <%= f.label :address_house, class: 'control-label' %>
          <%= f.text_field :address_house, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-2">
          <%= f.label :address_number, class: 'control-label' %>
          <%= f.text_field :address_number, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-3">
          <%= f.label :address_postal_code, class: 'control-label' %>
          <%= f.text_field :address_postal_code, class: 'form-control input-sm', disabled: input_disabled %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :address_post_office, class: 'control-label' %>
          <%= f.text_field :address_post_office, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-3">
          <%= f.label :address_pobox, class: 'control-label' %>
          <%= f.text_field :address_pobox, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>







      <hr class="hr-without-top-margin">

      <div class="row">
        <div class="form-group col-sm-4">
          <div class="human" >
            <%= f.label :birth_date, class: 'control-label' %>
            <%= f.text_field :birth_date, class: 'datepicker form-control input-sm', disabled: input_disabled %>
          </div>
        </div>

        <div class="form-group col-sm-8">
          <div class="human" >
            <%= f.label :birth_place, class: 'control-label' %>
            <%= f.text_field :birth_place, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <div class="human" >
            <%= f.label :fathers_name, class: 'control-label' %>
            <%= f.text_field :fathers_name, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <div class="human" >
            <%= f.label :mothers_name, class: 'control-label' %>
            <%= f.text_field :mothers_name, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <div class="human" >
            <%= f.label :family_name, class: 'control-label' %>
            <%= f.text_field :family_name, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>

        <div class="form-group required col-sm-8">
          <div class="human">
            <%= f.label :citizenship_code, class: 'control-label' %>
            <%= f.country_select :citizenship_code, priority_countries = ["pl"], options = {}, :class => "form-control input-sm" %>
          </div>
        </div>

      </div>
    </div> <!-- /col-sm-6 -->


    <div class="col-sm-6">
















      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.check_box :c_lives_in_poland, autofocus: true, onclick: "terytCorrespondenceIsRequired(this.checked)" %>&nbsp;&nbsp; 
          <%= f.label :c_lives_in_poland, class: 'control-label' %>
        </div>
        <div class="form-group col-sm-4">
          <small class="help-block pull-right"><%=t 'help_block_text.customer.form.c_address' %></small>
        </div>
      </div> <!--/row -->

      <div class="row">
        <div class="form-group required col-sm-12 show_if_c_lives_in_poland">
          <%= f.label :c_address_id, class: "control-label" %> 
          <%= f.hidden_field :c_address_id, 
                            class: "form-control input-sm", 
                            placeholder: "Wyszukaj adres",
                            style: "width:100%",
                            disabled: false, #!@proposal.lives_in_poland,
                            id: "customer_c_address_select2teryt_items",
                            autofocus: false %>
        </div>
      </div> <!--/row -->

      <%= f.hidden_field :c_teryt_code %>
      <%= f.hidden_field :c_province_name %>
      <%= f.hidden_field :c_province_code %>
      <%= f.hidden_field :c_district_name %>
      <%= f.hidden_field :c_district_code %>
      <%= f.hidden_field :c_commune_name %>
      <%= f.hidden_field :c_commune_code %>
      <%= f.hidden_field :c_city_name %>
      <%= f.hidden_field :c_city_code %>
      <%= f.hidden_field :c_city_parent_name %>
      <%= f.hidden_field :c_city_parent_code %>
      <%= f.hidden_field :c_street_attribute %>
      <%= f.hidden_field :c_street_name %>
      <%= f.hidden_field :c_street_code %>
      <%= f.hidden_field :c_post_code %>
      <%= f.hidden_field :c_post_code_numbers %>

      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :c_address_city, class: 'control-label' %>
          <%= f.text_field :c_address_city, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :c_address_street, class: 'control-label' %>
          <%= f.text_field :c_address_street, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-2">
          <%= f.label :c_address_house, class: 'control-label' %>
          <%= f.text_field :c_address_house, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-2">
          <%= f.label :c_address_number, class: 'control-label' %>
          <%= f.text_field :c_address_number, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-3">
          <%= f.label :c_address_postal_code, class: 'control-label' %>
          <%= f.text_field :c_address_postal_code, class: 'form-control input-sm', disabled: input_disabled %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :c_address_post_office, class: 'control-label' %>
          <%= f.text_field :c_address_post_office, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-3">
          <%= f.label :c_address_pobox, class: 'control-label' %>
          <%= f.text_field :c_address_pobox, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>


      <hr class="hr-without-top-margin">





















      <div class="row">
        <div class="form-group col-sm-4">
          <div class="human" >
            <%= f.label :pesel, class: 'control-label' %>
            <%= f.text_field :pesel, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <div class="no-human" >
            <%= f.label :nip, class: 'control-label' %>
            <%= f.text_field :nip, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <div class="no-human" >
            <%= f.label :regon, class: 'control-label' %>
            <%= f.text_field :regon, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :phone, class: 'control-label' %>
          <%= f.text_field :phone, class: 'form-control input-sm', disabled: input_disabled %>
        </div>

        <div class="form-group col-sm-4">
          <%= f.label :fax, class: 'control-label' %>
          <%= f.text_field :fax, class: 'form-control input-sm', disabled: input_disabled %>
        </div>

        <div class="form-group col-sm-4">
          <%= f.label :email, class: 'control-label' %>
          <%= f.text_field :email, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :note, class: 'control-label' %>
        <%= f.text_area :note, :rows => 4, :cols => 50, class: 'form-control input-sm', disabled: input_disabled %>
      </div>

    </div> <!-- /col-sm-6 -->
  </div> <!-- /row -->

  <hr class="hr-without-top-margin">

  <% if input_disabled %>
    <!-- for "Show" -->
  <% else %>
    <!-- form "New"/"Edit" -->
    <div class="row">

      <%= link_to customers_path(), class: "btn btn-default" do %>
        <span class="fa fa-list"></span>
        <%= t("helpers.links.index") %>
      <% end %>

      <%= link_to :back, class: "btn btn-default" do %>
        <span class="fa fa-undo"></span>
        <%= t("helpers.links.back") %>
      <% end %>

      <%= f.submit nil, :class => 'btn btn-success' %>
    </div> <!-- /row -->
  <% end %>
  
<% end %>

<script type="text/javascript">

  //terytIsRequired( $('#proposal_lives_in_poland').is(':checked') );
  if ($('#customer_lives_in_poland').is(':checked')) {
    //set value
//    setValuesAndReadOnlyForInPoland();
    setReadOnlyForInPoland();
    //show and hide fields
    showHideFieldsForInPoland();
  } else {
    //set values
//    setValuesAndReadOnlyForNotInPoland();
    setReadOnlyForNotInPoland();
    //show and hide fields
    showHideFieldsForNotInPoland();
  };


  if ($('#customer_c_lives_in_poland').is(':checked')) {
    //set value
//    setValuesAndReadOnlyForInPoland();
    setCorrespondenceReadOnlyForInPoland();
    //show and hide fields
    showCorrespondenceHideFieldsForInPoland();
  } else {
    //set values
//    setValuesAndReadOnlyForNotInPoland();
    setCorrespondenceReadOnlyForNotInPoland();
    //show and hide fields
    showCorrespondenceHideFieldsForNotInPoland();
  };

</script>