<%= form_for [@customer], :html => { :role => 'form customer' } do |f| %>

  <% input_disabled ||= false  
     #if input_disabled is not passed to the partial it doesn't crash. 
     # We default it to false 
  %>

  <% if @customer.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><h5><%= msg %></h5></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">

        <div class="form-group col-sm-6">
          <%= f.label :name, class: 'control-label' %>
          <%= f.text_field :name, autofocus: true, class: 'form-control input-sm', disabled: input_disabled %>
        </div>

        <div class="form-group col-sm-4">
          <div class="human" >
            <%= f.label :given_names, class: 'control-label' %>
            <%= f.text_field :given_names, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>

        <div class="form-group col-sm-2">
          <%= f.label :human, class: 'control-label' %>
          <%= f.check_box :human, disabled: input_disabled, id: "human_switch" %>
        </div>

      </div>  <!-- /row -->
    </div>  <!-- /col-sm-12 -->
  </div>  <!-- /row -->

  <hr class="hr-without-padding">

  <div class="row">
    <div class="col-sm-6">
      <small class="help-block"><%=t 'help_block_text.customer.form.address' %></small>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :address_postal_code, class: 'control-label' %>
          <%= f.text_field :address_postal_code, class: 'form-control input-sm', disabled: input_disabled %>
        </div>

        <div class="form-group col-sm-8">
          <%= f.label :address_city, class: 'control-label' %>
          <%= f.text_field :address_city, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :address_street, class: 'control-label' %>
          <%= f.text_field :address_street, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-2">
          <%= f.label :address_house, class: 'control-label' %>
          <%= f.text_field :address_house, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-2">
          <%= f.label :address_number, class: 'control-label' %>
          <%= f.text_field :address_number, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :address_post_office, class: 'control-label' %>
          <%= f.text_field :address_post_office, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-4">
          <%= f.label :address_pobox, class: 'control-label' %>
          <%= f.text_field :address_pobox, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>


      <hr>


      <div class="row">
        <div class="form-group col-sm-4">
          <div class="human" >
            <%= f.label :birth_date, class: 'control-label' %>
            <%= f.text_field :birth_date, class: 'datepicker form-control input-sm', disabled: input_disabled %>
          </div>
        </div>

        <div class="form-group col-sm-8">
          <div class="human" >
            <%= f.label :birth_place, class: 'control-label' %>
            <%= f.text_field :birth_place, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <div class="human" >
            <%= f.label :fathers_name, class: 'control-label' %>
            <%= f.text_field :fathers_name, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <div class="human" >
            <%= f.label :mothers_name, class: 'control-label' %>
            <%= f.text_field :mothers_name, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <div class="human" >
            <%= f.label :nationality_id, class: 'control-label' %>
            <%= f.select( :nationality_id, 
                  Nationality.by_name.collect {|p| [ "#{p.short} - #{p.name}", p.id ]},
                  { include_blank: false, multiple: false }, class: 'form-control input-sm', disabled: input_disabled ) %>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <div class="human" >
            <%= f.label :citizenship_id, class: 'control-label' %>
            <%= f.select( :citizenship_id, 
                  Citizenship.by_name.collect {|p| [ "#{p.short} - #{p.name}", p.id ]},
                  { include_blank: false, multiple: false }, class: 'form-control input-sm', disabled: input_disabled ) %>
          </div>
        </div>
      </div>
    </div> <!-- /col-sm-6 -->


    <div class="col-sm-6">
      <small class="help-block"><%=t 'help_block_text.customer.form.c_address' %></small>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :c_address_postal_code, class: 'control-label' %>
          <%= f.text_field :c_address_postal_code, class: 'form-control input-sm', disabled: input_disabled %>
        </div>

        <div class="form-group col-sm-8">
          <%= f.label :c_address_city, class: 'control-label' %>
          <%= f.text_field :c_address_city, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :c_address_street, class: 'control-label' %>
          <%= f.text_field :c_address_street, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-2">
          <%= f.label :c_address_house, class: 'control-label' %>
          <%= f.text_field :c_address_house, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-2">
          <%= f.label :c_address_number, class: 'control-label' %>
          <%= f.text_field :c_address_number, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.label :c_address_post_office, class: 'control-label' %>
          <%= f.text_field :c_address_post_office, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-4">
          <%= f.label :c_address_pobox, class: 'control-label' %>
          <%= f.text_field :c_address_pobox, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="form-group col-sm-4">
          <div class="human" >
            <%= f.label :pesel, class: 'control-label' %>
            <%= f.text_field :pesel, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <div class="no-human" >
            <%= f.label :nip, class: 'control-label' %>
            <%= f.text_field :nip, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <div class="no-human" >
            <%= f.label :regon, class: 'control-label' %>
            <%= f.text_field :regon, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :note, class: 'control-label' %>
        <%= f.text_area :note, :rows => 4, :cols => 50, class: 'form-control input-sm', disabled: input_disabled %>
      </div>


    </div> <!-- /col-sm-6 -->
  </div> <!-- /row -->

  <hr>

  <% if input_disabled %>
    <!-- for "Show" -->
  <% else %>
    <!-- form "New"/"Edit" -->
    <div class="row">

      <%= link_to t('Index', default: t("helpers.links.index")), customers_path, :class => 'btn btn-default glyphicon glyphicon-th-list' %>

      <%= link_to t('Back', default: t("helpers.links.back")), :back, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>

      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div> <!-- /row -->
  <% end %>
  
<% end %>
