<br>
<div class="panel-group" id="myaccordion">

  <!-- Dane -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-customer">
        <div class="panel-heading">
          <div class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_data" >
              <span class="glyphicon glyphicon-user">&nbsp;<%=t "pages.customer.show.title"%>:&nbsp;<%= @customer.fullname %></span>
              <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
            </a>
          </div> 
        </div>
        <div id="collapse_data" class="panel-collapse collapse in"> <!-- id="collapse_data" -->
          <div class="panel-body">         
            <div class="col-sm-11 col-sm-offset-1">

              <%= render 'form_show', input_disabled: true %>

            </div> <!--/col-sm-11 col-sm-offset-1-->    
          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_data" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-12-->
  </div> <!-- /row -->


  <%= render partial: "documents/documents_in_panel", locals: {documentable: @customer} %>


  <!-- Wydruki -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="panel panel-print">
        <div class="panel-heading">
          <div class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_scan_and_print" >
              <span class="glyphicon glyphicon-print"> Wydruki</span>
              <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i>
            </a>
          </div>
        </div>
        <div id="collapse_scan_and_print" class="panel-collapse collapse"> <!-- id="collapse_scan_and_print" -->
          <div class="panel-body">
            <div class="col-sm-12">

              <%= render 'scan_and_print' %>

            </div> <!--/class="col-sm-12" -->
          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_scan_and_print" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-11 col-sm-offset-1 -->
  </div> <!-- /row -->


  <!-- Works-->
  <%# if certificate_policy_check(@certificate, params[:category_service], 'edit') %>
  <% if policy(:customer).work? %>
    <%#= render partial: "works" %>
    <%= render partial: "works/works_in_panel", locals: {trackable_type: 'Customer', trackable_id: @customer.id} %>
  <% end %>

 
  <!-- Examinations-->
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <div class="panel panel-examination">
        <div class="panel-heading">
          <div class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_examinations" >
              <span class="glyphicon glyphicon-check">&nbsp;<%= t "pages.examination.index_for_customer.title" %></span>
              <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i>
            </a>
          </div>
        </div>
        <div id="collapse_examinations" class="panel-collapse collapse"> <!-- id="collapse_examinations" -->
          <div class="panel-body">
            <div class="col-sm-12">

              <% if policy(:examination).index_l? %>
                <%= render 'examinations', exam_collection: @customer.examinations.only_category_l, category_service: 'l', image: 'airplane.png' %>
              <% end %>

              <% if policy(:examination).index_m? %>
                <%= render 'examinations', exam_collection: @customer.examinations.only_category_m, category_service: 'm', image: 'ship.png' %>
              <% end %>

              <% if policy(:examination).index_r? %>
                <%= render 'examinations', exam_collection: @customer.examinations.only_category_r, category_service: 'r', image: 'radio.png' %>
              <% end %>

            </div> <!--/class="col-sm-12" -->
          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_examinations" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-11 col-sm-offset-1 -->
  </div> <!-- /row -->

  <!-- Certificates-->
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <div class="panel panel-certificate">
        <div class="panel-heading">
          <div class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_certificates" >
              <span class="glyphicon glyphicon-certificate">&nbsp;<%= t "pages.certificate.index.title" %></span>
              <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i>
            </a>
          </div>
        </div>
        <div id="collapse_certificates" class="panel-collapse collapse"> <!-- id="collapse_certificates" -->
          <div class="panel-body">
            <div class="col-sm-12">

              <% if policy(:certificate).index_l? %>
                <%= render 'certificates', cert_collection: @customer.certificates.only_category_l, category_service: 'l', image: 'airplane.png' %>
              <% end %>

              <% if policy(:certificate).index_m? %>
                <%= render 'certificates', cert_collection: @customer.certificates.only_category_m, category_service: 'm', image: 'ship.png' %>
              <% end %>

              <% if policy(:certificate).index_r? %>
                <%= render 'certificates', cert_collection: @customer.certificates.only_category_r, category_service: 'r', image: 'radio.png' %>
              <% end %>

            </div> <!--/class="col-sm-12" -->
          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_certificates" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-11 col-sm-offset-1 -->
  </div> <!-- /row -->

  <!-- Licenses-->
  <% if policy(:license).index? %>

    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <div class="panel panel-license">
          <div class="panel-heading">
            <div class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_licenses" >
                <span class="glyphicon glyphicon-file">&nbsp;<%= t "pages.license.index.title" %></span>
                <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i>
              </a>
            </div>
          </div>
          <div id="collapse_licenses" class="panel-collapse collapse"> <!-- id="collapse_licenses" -->
            <div class="panel-body">
              <div class="col-sm-12">

                <%= render 'licenses_i' %>
                <%= render 'licenses_c' %>
                <%= render 'licenses_b' %>

              </div> <!--/class="col-sm-12" -->
            </div> <!-- /panel-body -->
          </div> <!-- /id="collapse_licenses" -->
        </div> <!-- /panel -->
      </div> <!-- /col-sm-11 col-sm-offset-1 -->
    </div> <!-- /row -->
  <% end %>


</div> <!-- /class="panel-group" id="myaccordion" -->
