<% input_disabled ||= false  
   #if input_disabled is not passed to the partial it doesn't crash. 
   # We default it to false 
%>

<%= form_errors_for @proposal %>

<div class="row">
  <div class="col-sm-12">

    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :not_approved_comment, class: 'control-label' %>
        <%= f.text_area :not_approved_comment, :rows => 4, :cols => 50, class: 'form-control input-sm', disabled: false %>
      </div>
    </div>


  </div> <!-- /col-sm-12 -->

</div> <!-- /row -->

<hr class="hr-without-top-margin">


<% if input_disabled %>
  <!-- for "Show" -->
<% else %>
  <!-- form "New"/"Edit" -->
  <div class="row">
    <%= link_to t('Index', default: t("helpers.links.index")), proposals_path(params[:category_service]), :class => 'btn btn-default glyphicon glyphicon-th-list' %>
 
    <%= link_to t('Back', default: t("helpers.links.back")), proposal_path(params[:category_service], @proposal), :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>

    <%= f.submit nil, data: { confirm: t('helpers.links.confirm_not_approved', data: @proposal.fullname) }, :class => 'btn btn-primary' %>
  </div> <!-- /row -->
<% end %>
