<fieldset class="my-fieldset">
  <legend class="my-fieldset"><%= t('proposals.form_step3.fieldset_title') %></legend>

  <div class="row">
    <div class="form-group col-sm-7">
      <p><strong><%= Proposal.human_attribute_name(:esod_category) %></strong></p>
      <h5><%= partial_data.esod_category_name %></</h5>
    </div>
    <div class="form-group col-sm-5">
      <p><strong><%= Proposal.human_attribute_name(:category_name) %></strong></p>
      <h5><%= category_name(partial_data) %></h5>
    </div>
  </div> <!--/row -->
  <div class="row">
    <div class="form-group col-sm-12">
      <p><strong><%= Proposal.human_attribute_name(:division_fullname) %></strong></p>
      <h5><%= partial_data.division_fullname %></h5>
    </div>
  </div> <!--/row -->
  <div class="row">
    <div class="form-group col-sm-12">
      <p><strong><%= Proposal.human_attribute_name(:exam_fullname) %></strong></p>
      <h5><%= link_to partial_data.exam_fullname, exam_path(partial_data.exam.category.downcase, partial_data.exam) %></h5>
    </div>
    <div class="form-group col-sm-5">
      <p><strong><%= Proposal.human_attribute_name(:exam_date_exam) %></strong></p>
      <h5><%= partial_data.exam_date_exam.strftime("%Y-%m-%d") if partial_data.exam_date_exam.present? %></h5>
    </div>
  </div> <!--/row -->

</fieldset>