<div class="col-sm-12">
  <h4>Użytkownicy w roli:</h4>
  <table class="table table-hover">
    <tbody>
      <% @role.users_used.each do |user| %>
        <tr>
          <td class="col-md-4"><%= link_to user.name, user_path(user) %></td>
          <td class="col-md-3"><%= link_to user.email, user_path(user) %></td>
          <td class="col-md-3"><%= link_to user.department.short, department_path(user.department) if user.department.present? %></td>
          <td class="col-md-2">
            <%= link_to("Usuń użytkownika z tej roli", role_user_path(@role, user), 
                :data => { :confirm => "Na pewno?" }, method: :delete, class: 'button-xs-danger') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <h4>Pozostali użytkownicy:</h4>
  <table class="table table-hover">
    <tbody>
      <% @role.users_not_used.each do |user| %>
        <tr>
          <td class="col-md-4"><%= link_to user.name, user_path(user) %></td>
          <td class="col-md-3"><%= link_to user.email, user_path(user) %></td>
          <td class="col-md-3"><%= link_to user.department.short, department_path(user.department) if user.department.present? %></td>
          <td class="col-md-2">
            <%= link_to("Dodaj użytkownika do tej roli", role_users_path(@role, id: user), 
                :data => { :confirm => "Na pewno?" }, method: :post, class: 'button-xs') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  



</div> <!--/col-sm-12 -->

