$(document).ready(function() {

  $('.customer_select').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/customers/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var customers = $.map(data.customers, function(customer, i) {
          return { id: customer.id, text: customer.fullname_and_address_and_pesel_nip_and_birth_date };
        });
        return { results: customers, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/customers/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ id: data_from_json.id, text: data_from_json.fullname_and_address_and_pesel_nip_and_birth_date });
        });
      }
    },
    dropdownCssClass: "bigdrop"
  });



  $('#customer_address_teryt_pna_code_select').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/teryt/pna_codes/select2_index.json",
      dataType: 'json',
      quietMillis: 500,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var pna_codes = $.map(data.pna_codes, function(pna_code, i) {
          return { data_obj: pna_code, id: pna_code.id, text: pna_code.fullname };
        });
        return { results: pna_codes, more: more };
      },
      // param "cache: true" added 19.03.2016 ale nie wiem, czy cokolwiek to daje
      cache: true
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/teryt/pna_codes/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ data_obj: data_from_json, id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    formatResult: function(item) {
      if (item.data_obj.uli_nazwa!=="") {
        return  item.data_obj.mie_nazwa + '<br>' +
                item.data_obj.uli_nazwa + '&nbsp&nbsp<small>' + item.data_obj.cecha + '</small><br>' +
                '<small>'  + item.data_obj.woj_pow_gmi_mie_info + '&nbsp<span class="text-muted pull-right">' + item.data_obj.teryt + '</span></small><br>' +
                item.data_obj.pna + '&nbsp&nbsp<small>' + item.data_obj.numery_info + '</small>';
      } else {
        return  item.data_obj.mie_nazwa + '<br>' +
                '<small>'  + item.data_obj.woj_pow_gmi_mie_info + '&nbsp<span class="text-muted pull-right">' + item.data_obj.teryt + '</span></small><br>' +
                item.data_obj.pna + '&nbsp&nbsp<small>' + item.data_obj.numery_info + '</small>';
       }
    },
    dropdownCssClass: "bigdrop"
  })
  .on("select2-selecting", function(e) {
    var id=e.val;
    if (id!=="") {
      $.get("/teryt/pna_codes/"+id+".json", function(data_from_json) {
        if(data_from_json) {
          if(data_from_json.pna!=="") {
            document.getElementById("customer_address_postal_code").value = data_from_json.pna;
            document.getElementById("customer_address_postal_code").readOnly = true;
          } else {
            document.getElementById("customer_address_postal_code").value = "";
            document.getElementById("customer_address_postal_code").readOnly = false;
          };
          document.getElementById("customer_address_city").value = data_from_json.sym_nazwa;
          document.getElementById("customer_address_city").readOnly = true;
          document.getElementById("customer_address_street").value = data_from_json.uli_nazwa;
          document.getElementById("customer_address_street").readOnly = true;
          document.getElementById("customer_address_post_office").value = data_from_json.sympod_nazwa;
          document.getElementById("customer_address_post_office").readOnly = true;
          document.getElementById("customer_address_house").focus();
        }
      });
    }
  });


  $('#customer_c_address_teryt_pna_code_select').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/teryt/pna_codes/select2_index.json",
      dataType: 'json',
      quietMillis: 500,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var pna_codes = $.map(data.pna_codes, function(pna_code, i) {
          return { data_obj: pna_code, id: pna_code.id, text: pna_code.fullname };
        });
        return { results: pna_codes, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/teryt/pna_codes/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ data_obj: data_from_json, id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    formatResult: function(item) {
      if (item.data_obj.uli_nazwa!=="") {
        return  item.data_obj.mie_nazwa + '<br>' +
                item.data_obj.uli_nazwa + '&nbsp&nbsp<small>' + item.data_obj.cecha + '</small><br>' +
                '<small>'  + item.data_obj.woj_pow_gmi_mie_info + '&nbsp<span class="text-muted pull-right">' + item.data_obj.teryt + '</span></small><br>' +
                item.data_obj.pna + '&nbsp&nbsp<small>' + item.data_obj.numery_info + '</small>';
      } else {
        return  item.data_obj.mie_nazwa + '<br>' +
                '<small>'  + item.data_obj.woj_pow_gmi_mie_info + '&nbsp<span class="text-muted pull-right">' + item.data_obj.teryt + '</span></small><br>' +
                item.data_obj.pna + '&nbsp&nbsp<small>' + item.data_obj.numery_info + '</small>';
       }
    },
    dropdownCssClass: "bigdrop"
  })
  .on("select2-selecting", function(e) {
    var id=e.val;
    if (id!=="") {
      $.get("/teryt/pna_codes/"+id+".json", function(data_from_json) {
        if(data_from_json) {
          if(data_from_json.pna!=="") {
            document.getElementById("customer_c_address_postal_code").value = data_from_json.pna;
            document.getElementById("customer_c_address_postal_code").readOnly = true;
          } else {
            document.getElementById("customer_c_address_postal_code").value = "";
            document.getElementById("customer_c_address_postal_code").readOnly = false;
          };
          document.getElementById("customer_c_address_city").value = data_from_json.sym_nazwa;
          document.getElementById("customer_c_address_city").readOnly = true;
          document.getElementById("customer_c_address_street").value = data_from_json.uli_nazwa;
          document.getElementById("customer_c_address_street").readOnly = true;
          document.getElementById("customer_c_address_post_office").value = data_from_json.sympod_nazwa;
          document.getElementById("customer_c_address_post_office").readOnly = true;
          document.getElementById("customer_c_address_house").focus();
        }
      });
    }
  });



  $('.exam_select_l').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/l/exams/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var exams = $.map(data.exams, function(exam, i) {
          return { id: exam.id, text: exam.fullname };
        });
        return { results: exams, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/l/exams/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    dropdownCssClass: "bigdrop"
  });



  $('.exam_select_m').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/m/exams/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var exams = $.map(data.exams, function(exam, i) {
          return { id: exam.id, text: exam.fullname };
        });
        return { results: exams, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/m/exams/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    dropdownCssClass: "bigdrop"
  });



  $('.exam_select_r').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/r/exams/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var exams = $.map(data.exams, function(exam, i) {
          return { id: exam.id, text: exam.fullname };
        });
        return { results: exams, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/r/exams/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    dropdownCssClass: "bigdrop"
  });



  $('.exam_select_m_for_update_proposal').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/m/exams/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page,
          after_today: true, 
          division_id: $('#proposal_division_id').val()
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var exams = $.map(data.exams, function(exam, i) {
          return { id: exam.id, text: exam.fullname };
        });
        return { results: exams, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/m/exams/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    dropdownCssClass: "bigdrop"
  });


  $('.exam_select_r_for_update_proposal').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/r/exams/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page,
          after_today: true, 
          division_id: $('#proposal_division_id').val()
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var exams = $.map(data.exams, function(exam, i) {
          return { id: exam.id, text: exam.fullname };
        });
        return { results: exams, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/r/exams/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    dropdownCssClass: "bigdrop"
  });



  $('.certificate_select_l').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/l/certificates/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var certificates = $.map(data.certificates, function(certificate, i) {
          return { id: certificate.id, text: certificate.fullname };
        });
        return { results: certificates, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/l/certificates/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    dropdownCssClass: "bigdrop"
  });



  $('.certificate_select_m').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/m/certificates/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var certificates = $.map(data.certificates, function(certificate, i) {
          return { id: certificate.id, text: certificate.fullname };
        });
        return { results: certificates, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/m/certificates/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    dropdownCssClass: "bigdrop"
  });



  $('.certificate_select_r').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/r/certificates/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var certificates = $.map(data.certificates, function(certificate, i) {
          return { id: certificate.id, text: certificate.fullname };
        });
        return { results: certificates, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/r/certificates/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    dropdownCssClass: "bigdrop"
  });



  $('.esod_matter_for_exam_select_l').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/esod/matters/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          iks: "<%= Esodes::ALL_CATEGORIES_EXAMS %>",
          jrwa: "<%= Esodes::JRWA_L %>",
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var matters = $.map(data.matters, function(matter, i) {
          return { data_obj: matter, id: matter.id, text: matter.fullname };
        });
        return { results: matters, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/esod/matters/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ data_obj: data_from_json, id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    formatResult: function(item) {
      return  item.data_obj.znak + '<br>' +
              item.data_obj.tytul + '<br>' +
              '<small>termin:&nbsp' + item.data_obj.termin_realizacji + '&nbsp&nbsp[kategoria:&nbsp' + item.data_obj.iks_name + ']</small><br>' +
              '<small>adnotacje:&nbsp' + item.data_obj.flat_all_matter_notes + '</small>';
    },
    dropdownCssClass: "bigdrop"
  });



  $('.esod_matter_for_exam_select_m').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/esod/matters/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          iks: "<%= Esodes::ALL_CATEGORIES_EXAMS %>",
          jrwa: "<%= Esodes::JRWA_M %>",
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var matters = $.map(data.matters, function(matter, i) {
          return { data_obj: matter, id: matter.id, text: matter.fullname };
        });
        return { results: matters, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/esod/matters/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ data_obj: data_from_json, id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    formatResult: function(item) {
      return  item.data_obj.znak + '<br>' +
              item.data_obj.tytul + '<br>' +
              '<small>termin:&nbsp' + item.data_obj.termin_realizacji + '&nbsp&nbsp[kategoria:&nbsp' + item.data_obj.iks_name + ']</small><br>' +
              '<small>adnotacje:&nbsp' + item.data_obj.flat_all_matter_notes + '</small>';
    },
    dropdownCssClass: "bigdrop"
  });



  $('.esod_matter_for_exam_select_r').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/esod/matters/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          iks: "<%= Esodes::ALL_CATEGORIES_EXAMS %>",
          jrwa: "<%= Esodes::JRWA_R %>",
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var matters = $.map(data.matters, function(matter, i) {
          return { data_obj: matter, id: matter.id, text: matter.fullname };
        });
        return { results: matters, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/esod/matters/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ data_obj: data_from_json, id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    formatResult: function(item) {
      return  item.data_obj.znak + '<br>' +
              item.data_obj.tytul + '<br>' +
              '<small>termin:&nbsp' + item.data_obj.termin_realizacji + '&nbsp&nbsp[kategoria:&nbsp' + item.data_obj.iks_name + ']</small><br>' +
              '<small>adnotacje:&nbsp' + item.data_obj.flat_all_matter_notes + '</small>';
    },
    dropdownCssClass: "bigdrop"
  });



  $('.esod_matter_for_examination_select_l').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/esod/matters/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          iks: "<%= Esodes::ALL_CATEGORIES_EXAMINATIONS %>",
          jrwa: "<%= Esodes::JRWA_L %>",
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var matters = $.map(data.matters, function(matter, i) {
          return { data_obj: matter, id: matter.id, text: matter.fullname };
        });
        return { results: matters, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/esod/matters/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ data_obj: data_from_json, id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    formatResult: function(item) {
      return  item.data_obj.znak + '<br>' +
              item.data_obj.tytul + '<br>' +
              '<small>termin:&nbsp' + item.data_obj.termin_realizacji + '&nbsp&nbsp[kategoria:&nbsp' + item.data_obj.iks_name + ']</small><br>' +
              '<small>adnotacje:&nbsp' + item.data_obj.flat_all_matter_notes + '</small>';
    },
    dropdownCssClass: "bigdrop"
  });



  $('.esod_matter_for_examination_select_m').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/esod/matters/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          iks: "<%= Esodes::ALL_CATEGORIES_EXAMINATIONS %>",
          jrwa: "<%= Esodes::JRWA_M %>",
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var matters = $.map(data.matters, function(matter, i) {
          return { data_obj: matter, id: matter.id, text: matter.fullname };
        });
        return { results: matters, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/esod/matters/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ data_obj: data_from_json, id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    formatResult: function(item) {
      return  item.data_obj.znak + '<br>' +
              item.data_obj.tytul + '<br>' +
              '<small>termin:&nbsp' + item.data_obj.termin_realizacji + '&nbsp&nbsp[kategoria:&nbsp' + item.data_obj.iks_name + ']</small><br>' +
              '<small>adnotacje:&nbsp' + item.data_obj.flat_all_matter_notes + '</small>';
    },
    dropdownCssClass: "bigdrop"
  });



  $('.esod_matter_for_examination_select_r').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/esod/matters/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          iks: "<%= Esodes::ALL_CATEGORIES_EXAMINATIONS %>",
          jrwa: "<%= Esodes::JRWA_R %>",
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var matters = $.map(data.matters, function(matter, i) {
          return { data_obj: matter, id: matter.id, text: matter.fullname };
        });
        return { results: matters, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/esod/matters/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ data_obj: data_from_json, id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    formatResult: function(item) {
      return  item.data_obj.znak + '<br>' +
              item.data_obj.tytul + '<br>' +
              '<small>termin:&nbsp' + item.data_obj.termin_realizacji + '&nbsp&nbsp[kategoria:&nbsp' + item.data_obj.iks_name + ']</small><br>' +
              '<small>adnotacje:&nbsp' + item.data_obj.flat_all_matter_notes + '</small>';
    },
    dropdownCssClass: "bigdrop"
  });



  $('.esod_matter_for_certificate_select_l').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/esod/matters/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          iks: "<%= Esodes::ALL_CATEGORIES_CERTIFICATES %>",
          jrwa: "<%= Esodes::JRWA_L %>",
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var matters = $.map(data.matters, function(matter, i) {
          return { data_obj: matter, id: matter.id, text: matter.fullname };
        });
        return { results: matters, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/esod/matters/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ data_obj: data_from_json, id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    formatResult: function(item) {
      return  item.data_obj.znak + '<br>' +
              item.data_obj.tytul + '<br>' +
              '<small>termin:&nbsp' + item.data_obj.termin_realizacji + '&nbsp&nbsp[kategoria:&nbsp' + item.data_obj.iks_name + ']</small><br>' +
              '<small>adnotacje:&nbsp' + item.data_obj.flat_all_matter_notes + '</small>';
    },
    dropdownCssClass: "bigdrop"
  });



  $('.esod_matter_for_certificate_select_m').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/esod/matters/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          //iks: "<%= Esodes::ALL_CATEGORIES_CERTIFICATES %>", 
          iks: "<%= Esodes::ALL_CATEGORIES_EXAMINATIONS_AND_CERTIFICATES %>", 
          jrwa: "<%= Esodes::JRWA_M %>",
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var matters = $.map(data.matters, function(matter, i) {
          return { data_obj: matter, id: matter.id, text: matter.fullname };
        });
        return { results: matters, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/esod/matters/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ data_obj: data_from_json, id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    formatResult: function(item) {
      return  item.data_obj.znak + '<br>' +
              item.data_obj.tytul + '<br>' +
              '<small>termin:&nbsp' + item.data_obj.termin_realizacji + '&nbsp&nbsp[kategoria:&nbsp' + item.data_obj.iks_name + ']</small><br>' +
              '<small>adnotacje:&nbsp' + item.data_obj.flat_all_matter_notes + '</small>';
    },
    dropdownCssClass: "bigdrop"
  });



  $('.esod_matter_for_certificate_select_r').select2({
    minimumInputLength: 3,
    allowClear: false,
    ajax: {
      url: "/esod/matters/select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          //iks: "<%= Esodes::ALL_CATEGORIES_CERTIFICATES %>",
          iks: "<%= Esodes::ALL_CATEGORIES_EXAMINATIONS_AND_CERTIFICATES %>", 
          jrwa: "<%= Esodes::JRWA_R %>",
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var matters = $.map(data.matters, function(matter, i) {
          return { data_obj: matter, id: matter.id, text: matter.fullname };
        });
        return { results: matters, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/esod/matters/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ data_obj: data_from_json, id: data_from_json.id, text: data_from_json.fullname });
        });
      }
    },
    formatResult: function(item) {
      return  item.data_obj.znak + '<br>' +
              item.data_obj.tytul + '<br>' +
              '<small>termin:&nbsp' + item.data_obj.termin_realizacji + '&nbsp&nbsp[kategoria:&nbsp' + item.data_obj.iks_name + ']</small><br>' +
              '<small>adnotacje:&nbsp' + item.data_obj.flat_all_matter_notes + '</small>';
    },
    dropdownCssClass: "bigdrop"
  });






});

