<% input_disabled ||= false  
   #if input_disabled is not passed to the partial it doesn't crash. 
   # We default it to false 
%>

<!--  <%= hidden_field_tag :back_url, params[:back_url] %> -->
<%= hidden_field_tag :back_url, back_url %> 

<% if @certificate.errors.any? %>
  <div id="error_explanation" class="panel panel-danger">
    <div class="panel-body">
      <ul>
      <% @certificate.errors.full_messages.each do |msg| %>
        <li><h5><%= msg %></h5></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="form-group col-sm-7">
    <%= f.label :esod_matter_id, class: "control-label" %>
    <%= f.hidden_field :esod_matter_id,
                      class: "form-control input-sm esod_matter_for_certificate_select_#{params[:category_service]}", 
                      placeholder: "Wybierz Sprawę (Wniosek w służbie #{params[:category_service].upcase})",
                      #disabled: !@exam.new_record?,
                      disabled: input_disabled,
                      autofocus: true, 
                      style: "width:100%" %>
    <small class="help-block"><%=t 'help_block_text.select2_esod_matter' %></small>
  </div>

  <div class="form-group col-sm-5">
    <%= f.label :esod_category, class: 'control-label' %>
    <% if "#{params[:category_service]}" == 'l' %>
      <%= f.select :esod_category, 
            options_for_select([["#{Esodes::esod_matter_iks_name(Esodes::SWIADECTWO_BEZ_EGZAMINU)}", Esodes::SWIADECTWO_BEZ_EGZAMINU],
                                ["#{Esodes::esod_matter_iks_name(Esodes::DUPLIKAT)}", Esodes::DUPLIKAT], 
                                ["#{Esodes::esod_matter_iks_name(Esodes::WYMIANA)}", Esodes::WYMIANA]], 
                selected: @certificate.esod_category), 
            { include_blank: false}, 
            { autofocus: false, class: 'form-control input-sm', 
              disabled: input_disabled } %>
    <% elsif "#{params[:category_service]}" == 'm'%>
      <%= f.select :esod_category, 
            options_for_select([["#{Esodes::esod_matter_iks_name(Esodes::EGZAMIN)}", Esodes::EGZAMIN],
                                ["#{Esodes::esod_matter_iks_name(Esodes::POPRAWKOWY)}", Esodes::POPRAWKOWY], 
                                ["#{Esodes::esod_matter_iks_name(Esodes::ODNOWIENIE_BEZ_EGZAMINU)}", Esodes::ODNOWIENIE_BEZ_EGZAMINU], 
                                ["#{Esodes::esod_matter_iks_name(Esodes::ODNOWIENIE_Z_EGZAMINEM)}", Esodes::ODNOWIENIE_Z_EGZAMINEM], 
                                ["#{Esodes::esod_matter_iks_name(Esodes::ODNOWIENIE_Z_EGZAMINEM_POPRAWKOWY)}", Esodes::ODNOWIENIE_Z_EGZAMINEM_POPRAWKOWY], 
                                ["#{Esodes::esod_matter_iks_name(Esodes::DUPLIKAT)}", Esodes::DUPLIKAT], 
                                ["#{Esodes::esod_matter_iks_name(Esodes::WYMIANA)}", Esodes::WYMIANA]], 
                selected: @certificate.esod_category), 
            { include_blank: false}, 
            { autofocus: false, class: 'form-control input-sm', 
              disabled: input_disabled } %>
    <% elsif "#{params[:category_service]}" == 'r'%>
      <%= f.select :esod_category, 
            options_for_select([["#{Esodes::esod_matter_iks_name(Esodes::EGZAMIN)}", Esodes::EGZAMIN],
                                ["#{Esodes::esod_matter_iks_name(Esodes::POPRAWKOWY)}", Esodes::POPRAWKOWY], 
                                ["#{Esodes::esod_matter_iks_name(Esodes::DUPLIKAT)}", Esodes::DUPLIKAT], 
                                ["#{Esodes::esod_matter_iks_name(Esodes::WYMIANA)}", Esodes::WYMIANA]], 
                selected: @certificate.esod_category), 
            { include_blank: false}, 
            { autofocus: false, class: 'form-control input-sm', 
              disabled: input_disabled } %>
    <% end %>
  </div>

</div>

<hr class="hr-without-top-margin">

<div class="row">
  <div class="col-sm-7">

    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.label :number, class: 'control-label' %>
        <%= f.text_field :number, autofocus: false, class: 'form-control input-sm', placeholder: t("placeholder_text.certificate_#{params[:category_service]}.form.number"), disabled: input_disabled %>
        <small class="help-block"><%=t 'help_block_text.certificate.form.number' %></small>
      </div>

      <div class="form-group col-sm-6">
        <%= f.label :certificate_status, class: 'control-label' %>
        <%= f.select :certificate_status, 
              options_for_select([['Duplikat', 'D'],
                                  ['Nowe', 'N'],
                                  ['Odnowione', 'O'], 
                                  ['Skreślone (nieważne)', 'S'], 
                                  ['Wymienione (odnowione)', 'W']], 
                selected: @certificate.certificate_status), 
              { include_blank: false }, 
              { class: 'form-control input-sm', disabled: input_disabled } %>
      </div>
    </div>  <!-- /row -->

    <div class="row">
      <div class="form-group col-sm-4">
        <%= f.label :date_of_issue, class: 'control-label' %>
        <%= f.text_field :date_of_issue, class: 'datepicker form-control input-sm', disabled: input_disabled %>
      </div>

      <div class="form-group col-sm-4">
        <%= f.label :valid_thru, class: 'control-label' %>
        <%= f.text_field :valid_thru, class: 'datepicker form-control input-sm', disabled: input_disabled %>
      </div>

      <div class="form-group col-sm-4">
        <%= f.label :canceled, class: 'control-label' %><br>
        <%= f.check_box :canceled, disabled: input_disabled %>
      </div>

    </div>  <!-- /row -->

    <hr class="hr-without-top-margin">

    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :division_id, class: 'control-label' %>
        <%= f.select :division_id, 
              Division.only_category_scope(params[:category_service]).by_name.collect {|p| [ "#{p.name} (#{p.short_name})", p.id ]},
              { include_blank: false, multiple: false }, 
              { class: 'form-control input-sm', disabled: input_disabled } %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :customer_id, class: "control-label" %>
        <%= f.hidden_field :customer_id,
                          class: "form-control input-sm customer_select", 
                          placeholder: "Wybierz Klienta",
                          style: "width:100%" %>
        <small class="help-block"><%=t 'help_block_text.select2_customer' %></small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :exam_id, class: "control-label" %>
        <%= f.hidden_field :exam_id,
                          class: "form-control input-sm exam_select_#{params[:category_service]}", 
                          placeholder: "Wybierz Sesję egzaminacyjną",
                          style: "width:100%" %>
        <small class="help-block"><%=t 'help_block_text.select2_exam' %></small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :note, class: 'control-label' %>
        <%= f.text_area :note, :rows => 4, :cols => 50, class: 'form-control input-sm', disabled: input_disabled %>
      </div>
    </div>


  </div> <!-- /col-sm-7 -->
</div> <!-- /row -->

<hr class="hr-without-top-margin">

<% if input_disabled %>
  <!-- for "Show" -->
<% else %>
  <!-- form "New"/"Edit" -->
  <div class="row">

    <%= link_to t('Index', default: t("helpers.links.index")), certificates_path(params[:category_service]), :class => 'btn btn-default glyphicon glyphicon-th-list' %>

    <%= link_to t('Back', default: t("helpers.links.back")), :back, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>

    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div> <!-- /row -->

<% end %>

