<div class="col-sm-12">
  <div class="row">
    <h3 class="center">
      <span class='<%= t("pages.certificate.model_icon") %> glyp-index-title' aria-hidden="true"></span>
      <span class="index-title"><%= t "pages.certificate_#{params[:category_service]}.index.title" %></span>
    </h3>
  </div> <!--/row -->
</div> <!--/col-sm-12 -->


<div class="col-sm-12">
  <table id="certificates" class="hover cell-border" width="100%" data-source="<%= datatables_index_certificates_path(format: :json) %>">
    <thead>
      <tr>
        <th> 0 ID </th>
        <th> 1 IMAGE-PATH</th>
        <th> 2 esod_matter.znak</th>
        <th> 3 Number</th>
        <th> 4 Date of issue</th>
        <th> 5 Valid thru</th>
        <th> 6 division.name</th>
        <th> 7 customer.fullname</th>
        <th> 8 certificate.fullnumber</th>
        <th> 9 Category</th>
      </tr>
    </thead>

    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->


<div class="col-sm-12">
  <div class="row">

    <% if certificate_policy_check(:certificate, params[:category_service], 'new') %>

      <%= link_to new_certificate_path(params[:category_service], back_url: certificates_path(params[:category_service])), class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-plus"></span>
        <%= t("helpers.links.new") %>
      <% end %>

    <% end %>

  </div> <!--/row -->
</div> <!--/col-sm-12 -->

