<br>
<div class="panel-group" id="myaccordion">

  <!-- Dane -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-certificate">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_data">
          <div class="panel-heading">
            <div class="panel-title">
              <span class='<%= t("pages.certificate.model_icon") %>'></span>
              <span class='<%= t("pages.exam_#{params[:category_service]}.model_icon") %>'>&nbsp;</span>
              <span><%=t "pages.certificate_#{params[:category_service]}.show.title"%>:&nbsp;<%= @certificate.fullname %></span>
              <span><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></span>
            </div> 
          </div>
        </a>
        <div id="collapse_data" class="panel-collapse collapse in"> <!-- id="collapse_data" -->
          <div class="panel-body">         
            <div class="col-sm-11 col-sm-offset-1">

              <%= render 'form_show', back_url: back_url, input_disabled: true %>

            </div> <!--/col-sm-11 col-sm-offset-1-->    
          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_data" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-12-->
  </div> <!-- /row -->

  <% if policy(:esod).index? || policy(:esod).show? %>
    <%= render partial: "esod/matters/matters_in_panel", locals: {matterable: @certificate, esod_incoming_letter: @esod_incoming_letter, esod_outgoing_letter: @esod_outgoing_letter, esod_internal_letter: @esod_internal_letter} %>
  <% end %>
  <%= render partial: "documents/documents_in_panel", locals: {documentable: @certificate} %>

  <!-- Wydruki -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="panel panel-print">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_scan_and_print">
          <div class="panel-heading">
            <div class="panel-title">
              <span class='<%= t("pages.scan_and_print.model_icon") %>'>&nbsp;</span>
              <span><%=t "pages.scan_and_print.show.title"%></span>
              <i class="indicator glyphicon glyphicon-chevron-right pull-right"></i>
            </div> 
          </div>
        </a>
        <div id="collapse_scan_and_print" class="panel-collapse collapse"> <!-- id="collapse_scan_and_print" -->
          <div class="panel-body">
            <div class="col-sm-12">

              <%= render 'scan_and_print' %>

            </div> <!--/class="col-sm-12" -->
          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_scan_and_print" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-11 col-sm-offset-1 -->
  </div> <!-- /row -->

  <% if certificate_policy_check(@certificate, params[:category_service], 'work') %>
    <%#= render partial: "works" %>
    <%= render partial: "works/works_in_panel", locals: {trackable_type: 'Certificate', trackable_id: @certificate.id} %>
  <% end %>


</div> <!-- /class="panel-group" id="myaccordion" -->
