<p id="notice"><%= notice %></p>

<p>
  <strong>Nrid:</strong>
  <%= @esod_internal_letter.nrid %>
</p>

<p>
  <strong>Numer ewidencyjny:</strong>
  <%= @esod_internal_letter.numer_ewidencyjny %>
</p>

<p>
  <strong>Tytul:</strong>
  <%= @esod_internal_letter.tytul %>
</p>

<p>
  <strong>Uwagi:</strong>
  <%= @esod_internal_letter.uwagi %>
</p>

<p>
  <strong>Identyfikator rodzaju dokumentu wewnetrznego:</strong>
  <%= @esod_internal_letter.identyfikator_rodzaju_dokumentu_wewnetrznego %>
</p>

<p>
  <strong>Identyfikator typu dcmd:</strong>
  <%= @esod_internal_letter.identyfikator_typu_dcmd %>
</p>

<p>
  <strong>Identyfikator dostepnosci dokumentu:</strong>
  <%= @esod_internal_letter.identyfikator_dostepnosci_dokumentu %>
</p>

<p>
  <strong>Pelna wersja cyfrowa:</strong>
  <%= @esod_internal_letter.pelna_wersja_cyfrowa %>
</p>

<p>
  <strong>Id zalozyl:</strong>
  <%= @esod_internal_letter.id_zalozyl %>
</p>

<p>
  <strong>Id aktualizowal:</strong>
  <%= @esod_internal_letter.id_aktualizowal %>
</p>

<p>
  <strong>Data zalozenia:</strong>
  <%= @esod_internal_letter.data_zalozenia %>
</p>

<p>
  <strong>Data aktualizacji:</strong>
  <%= @esod_internal_letter.data_aktualizacji %>
</p>

<p>
  <strong>Initialized from esod:</strong>
  <%= @esod_internal_letter.initialized_from_esod %>
</p>

<p>
  <strong>Netpar user:</strong>
  <%= @esod_internal_letter.netpar_user %>
</p>

<%= link_to 'Edit', edit_esod_internal_letter_path(@esod_internal_letter) %> |
<%= link_to 'Back', esod_internal_letters_path %>
