<% input_disabled ||= false  
   #if input_disabled is not passed to the partial it doesn't crash. 
   # We default it to false 
%>

<%= form_errors_for @exam %>

<div class="row">
  <div class="col-sm-7">

    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :esod_category, class: 'control-label' %>
        <%= f.select :esod_category, 
              options_for_select([["#{Esodes::esod_matter_iks_name(Esodes::SESJA)}", Esodes::SESJA],
                                  ["#{Esodes::esod_matter_iks_name(Esodes::SESJA_BEZ_EGZAMINOW)}", Esodes::SESJA_BEZ_EGZAMINOW]], selected: @exam.esod_category), 
              { include_blank: false}, 
              { autofocus: @exam.new_record?, class: 'form-control input-sm', disabled: input_disabled } %>
      </div>
    </div>  <!-- /row -->

    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.label :number, class: 'control-label' %>
        <%= f.text_field :number, autofocus: !@exam.new_record?, class: 'form-control input-sm', placeholder: t("placeholder_text.exam_#{params[:category_service]}.form.number"), disabled: input_disabled %>
      </div>

      <div class="form-group col-sm-6">
        <%= f.label :date_exam, class: 'control-label' %>
        <%= f.text_field :date_exam, class: 'datepicker form-control input-sm', disabled: input_disabled %>
      </div>
    </div>  <!-- /row -->

    <div class="row">
      <div class="form-group col-sm-2">
        <%= f.label :online, class: 'control-label' %><br>
        <%= f.check_box :online, disabled: !@exam.new_record?, id: "online_switch" %>
      </div>
    </div>  <!-- /row -->

    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.label :place_exam, class: 'control-label' %>
        <%= f.text_field :place_exam, class: 'form-control input-sm', disabled: input_disabled %>
      </div>

      <div class="form-group col-sm-6">
        <%= f.label :province_id, class: "control-label" %>
        <%= f.hidden_field :province_id,
                          class: "form-control input-sm select2teryt_provinces", 
                          placeholder: "Wybierz województwo",
                          style: "width:100%" %>
      </div>

    </div>  <!-- /row -->

    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.label :info, class: 'control-label' %>
        <%= f.text_field :info, class: 'form-control input-sm', placeholder: t("placeholder_text.exam_#{params[:category_service]}.form.info"), disabled: input_disabled %>
      </div>

      <div class="form-group col-sm-3">
        <%= f.label :max_examinations, class: 'control-label' %>
        <%= f.number_field :max_examinations, class: 'form-control input-sm', min: 0, step: 1, disabled: input_disabled %>
      </div>
    </div>  <!-- /row -->

    <hr class="hr-without-top-margin">


    <fieldset class="my-fieldset">
      <legend class="my-fieldset">Skład komisji</legend>

      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.label :chairman, class: 'control-label' %>
          <%= f.text_field :chairman, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
        <div class="form-group col-sm-6">
          <%= f.label :secretary, class: 'control-label' %>
          <%= f.text_field :secretary, class: 'form-control input-sm', disabled: input_disabled %>
        </div>
      </div>  <!-- /row -->

      <div class="row">
        <div class="form-group col-sm-12">
          <p><strong>Członkowie:</strong></p>
          <div class='transports clearfix'>
            <div class='transports-sub-form'>
              <%#= f.fields_for :transports, business_trip.reload.transports do |transport_form|  %>
              <%= f.fields_for :examiners do |examiner_form|  %>
                <%= render 'examiner_fields', f: examiner_form %> 
              <% end %>
            </div>
            <%= link_to_add_fields( t("helpers.links.link_to_add_fields_nested"), f, :examiners) %>
          </div>

        </div>
      </div> <!--/row -->
    </fieldset>


    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :note, class: 'control-label' %>
        <%= f.text_area :note, :rows => 4, :cols => 50, class: 'form-control input-sm', disabled: input_disabled %>
      </div>
    </div>


  </div> <!-- /col-sm-7 -->

  <div class="col-sm-5">

    <fieldset class="my-fieldset">
      <legend class="my-fieldset"><%= ExamsDivision.model_name.human %></legend>

      <div class='exams_divisions clearfix'>

        <div class='exams_divisions-sub-form'>
          <%= f.fields_for :exams_divisions do |exams_division_form|  %>
            <%= render "exams/exams_division_fields", f: exams_division_form %> 
          <% end %>
        </div>
        <%= link_to_add_fields( t("helpers.links.link_to_add_fields_nested"), f, :exams_divisions) %>

      </div>

    </fieldset>

  </div> <!-- /col-sm-5 -->

</div> <!-- /row -->


<hr class="hr-without-top-margin">


<% if input_disabled %>
  <!-- for "Show" -->
<% else %>
  <!-- form "New"/"Edit" -->
  <div class="row">
    <%= link_to exams_path(params[:category_service]), class: "btn btn-default" do %>
      <span class="fa fa-list"></span>
      <%= t("helpers.links.index") %>
    <% end %>

    <%= link_to :back, class: "btn btn-default" do %>
      <span class="fa fa-undo"></span>
      <%= t("helpers.links.back") %>
    <% end %>

    <%= f.submit nil, :class => 'btn btn-success' %>
  </div> <!-- /row -->
<% end %>
  



