<br>
<!-- Dane -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-exam">
      <div class="panel-heading">
        <div class="panel-title">
          <span class='<%= t("pages.exam.model_icon") %>'></span>
          <span class='<%= t("pages.exam_#{params[:category_service]}.model_icon") %>'>&nbsp;</span>
          <span><%=t "pages.exam.new.title"%></span>
        </div>
      </div>
        <div class="panel-body">
          <div class="col-sm-1">
	        	<h1><span class="fa fa-plus"></span></h1> 
          </div> <!--/col-sm-1-->

          <div class="col-sm-11">
						<%= form_for @exam, url: exams_path(@exam, category_service: params[:category_service]) do |f| %>
						  <%= render 'form', f: f %>
						<% end %>
          </div> <!--/col-sm-11 col-sm-offset-1--> 
    
        </div>
    </div> <!-- /panel -->
  </div> <!-- /col-sm-12-->
</div> <!-- /row -->
