<br>
<div class="panel-group" id="myaccordion">

  <!-- Dane -->
  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-exam">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_data">
          <div class="panel-heading">
            <div class="panel-title">
              <span class='<%= t("pages.statistic_exams.model_icon") %>'></span>&nbsp;
              <span class='<%= t("pages.exam_#{params[:category_service]}.model_icon") %>'></span>&nbsp;
              <%=t "pages.exam_#{params[:category_service]}.statistic_filter.title"%></span>
              <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
            </div> 
          </div>
        </a>
        <div id="collapse_data" class="panel-collapse collapse in"> <!-- id="collapse_data" -->
          <div class="panel-body">         
            <div class="col-sm-11 col-sm-offset-1">
              <%= form_tag({controller: "/exams", category_service: params[:category_service], action: "statistic_to_pdf", format: "pdf"}, method: "get") do %>

                <div class="row">
                  <div class="col-sm-5">
                    <blockquote class="bg-success">
                      <p class="text-muted">Statystyka</p>
                      <p class="bg-success">Wykaz zawiera informacje statystyczne sesji egzaminacyjnych 
                        (lub bezegzaminacyjnych/z egazaminem poza UKE) za okres "Data od" - "Data do" 
                        z podziałem na typy świadectw, rodzaje sesji, wniosków, itd.
                      </p>
                    </blockquote>
                  </div> <!-- /.col-sm-5 -->              

                  <div class="col-sm-7">
                    <div class="form-group col-sm-3">
                      <%= label_tag :date_start, "Data od", :class => 'control-label' %><br>
                      <%= text_field_tag :date_start, params[:date_start], :class => 'datepicker form-control input-sm' %>
                    </div>
                    <div class="form-group col-sm-3">
                      <%= label_tag :date_end, "Data do", :class => 'control-label' %><br>
                      <%= text_field_tag :date_end, params[:date_end], :class => 'datepicker form-control input-sm' %>
                    </div>
                  </div> <!-- /.col-sm-7 -->              

                  <div class="col-sm-12">
                    <%= button_tag nil, class: 'btn btn-primary pull-right', formtarget: "_blank" do %>
                      <span class='fa fa-print'></span>&nbsp;
                      <%= t("helpers.links.print") %>
                    <% end %>
                  </div> <!-- /.col-sm-12 -->
                </div> <!-- /.row -->
              <% end %>

              <hr>

              <%= form_tag({controller: "/exams", category_service: params[:category_service], action: "statistic2_to_pdf", format: "pdf"}, method: "get") do %>

                <div class="row">
                  <div class="col-sm-5">
                    <blockquote class="bg-success">
                      <p class="text-muted">Wskaźniki</p>
                      <p class="bg-success">Wykaz zawiera informacje dotyczące przekraczania "terminu-wskaźnika" wydawania świadectw licząc od dnia sesji egzaminacyjnej do dnia daty wydania świadectwa. Analizie podlegają dokumenty z zakresu dat "od-do" i dotyczą terminu sesji ("analizuj względem sesja") lub daty wydania świadectwa ("analizuj względem dokument")
                      </p>
                    </blockquote>
                  </div> <!-- /.col-sm-5 -->              

                  <div class="col-sm-7">
                    <div class="form-group col-sm-3">
                      <%= label_tag :date_start2, "Data od", :class => 'control-label' %><br>
                      <%= text_field_tag :date_start2, params[:date_start2], :class => 'datepicker form-control input-sm' %>
                    </div>
                    <div class="form-group col-sm-3">
                      <%= label_tag :date_end2, "Data do", :class => 'control-label' %><br>
                      <%= text_field_tag :date_end2, params[:date_end2], :class => 'datepicker form-control input-sm' %>
                    </div>


                    <div class="form-group col-sm-3">
                      <%= label_tag :max_day, "Ilość dni - wskaźnik", :class => 'control-label' %><br>
                      <%= number_field_tag :max_day, 7, min: 1, max: 30, step: 1, :class => 'form-control input-sm' %>
                    </div>                    

                    <div class="form-group col-sm-6">
                      <%= label_tag :theme, "Analizuj względem", :class => 'control-label' %><br>
                      <%= radio_button_tag(:theme, 'sesja') %>
                      <%= label_tag :theme_sesja, "sesja" %><br>
                      <%= radio_button_tag(:theme, 'dokument') %>
                      <%= label_tag :theme_dokument, "dokument" %><br>
                    </div>


                  </div> <!-- /.col-sm-7 -->              

                  <div class="col-sm-12">
                    <%= button_tag nil, class: 'btn btn-primary pull-right', formtarget: "_blank" do %>
                      <span class='fa fa-print'></span>&nbsp;
                      <%= t("helpers.links.print") %>
                    <% end %>
                  </div> <!-- /.col-sm-12 -->
                </div> <!-- /.row -->
              <% end %>
            </div> <!--/col-sm-11 col-sm-offset-1-->    
          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_data" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-12-->
  </div> <!-- /row -->
</div> <!-- /class="panel-group" id="myaccordion" -->

