<% input_disabled ||= false  
   #if input_disabled is not passed to the partial it doesn't crash. 
   # We default it to false 
%>

<div class="row">
  <div class="col-sm-12">
    <div class="row">

      <div class="form-group col-sm-2">
        <p><strong><%= Examination.human_attribute_name(:examination_category) %></strong></p>
        <h5><%= @examination.examination_category_name %></h5>
      </div>

      <div class="form-group col-sm-5">
        <p><strong><%= Examination.human_attribute_name(:division_id) %></strong></p>
        <h5><%= @examination.division.name %> (<%= @examination.division.short_name %>)</h5>
      </div>

      <div class="form-group col-sm-2">
        <p><strong><%= Examination.human_attribute_name(:supplementary) %></strong></p>
        <h5><%= @examination.supplementary? ? 'Tak' : 'Nie' %></h5>
      </div>

      <div class="form-group col-sm-3">
        <p><strong><%= Examination.human_attribute_name(:examination_result) %></strong></p>
        <h5><%= @examination.examination_result_name %></h5>
      </div>

    </div>  <!-- /row -->
  </div>  <!-- /col-sm-12 -->
</div>  <!-- /row -->

<hr class="hr-without-top-margin">

<div class="row">
  <div class="col-sm-7">

    <div class="row">
      <div class="form-group col-sm-12">
        <p><strong><%= Examination.human_attribute_name(:exam_id) %></strong></p>
        <h5><%= link_to @examination.exam.fullname, exam_path(@examination.exam.category.downcase, @examination.exam) %></h5>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <p><strong><%= Examination.human_attribute_name(:customer_id) %></strong></p>
        <h5><%= policy(:customer).show? ? link_to( @examination.customer.fullname_and_address, customer_path(@examination.customer) ) : 'xxx-xxx' %></h5>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <p><strong>Oceny:</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <table class="table table-hover">
          <tbody>
            <% @examination.grades.order(:id).each do |grade| %>
              <tr>
                <td><%= grade.subject.item %></td>
                <td><%= grade.subject.name %></td>
                <% if    grade.grade_result == 'P' %>
                  <td class="success"><%= grade.grade_result_name %></td>
                <% elsif grade.grade_result == 'N'%>
                  <td class="danger"><%= grade.grade_result_name %></td>
                <% else %>
                  <td ><%= grade.grade_result_name %></td>
                <% end %>                
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>


    <div class="row">
      <div class="form-group col-sm-6">
        <p><strong><%= Examination.human_attribute_name(:note) %></strong></p>
        <h5><%= @examination.note %></h5>
      </div>
    </div>

  </div> <!-- /col-sm-6 -->

  <div class="col-sm-5">

    <div class="row">
      <div class="form-group col-sm-12">
        <%  @attach = @examination.documents.where(fileattach_content_type: ['image/jpeg', 'image/png', 'application/pdf']).last %>

        <% if @attach.present? %>
          <p><strong><%= Document.human_attribute_name(:fileattach) %>: </strong><small><%= @attach.fileattach_filename %></small></p>
          
          <%= link_to image_tag( get_fileattach_as_image(@attach, params[:category_service]), class: "img-thumbnail" ), attachment_url(@attach, :fileattach), target: "_blank" %>

        <% end %>

      </div> <!-- /form-group col-sm-12 -->

    </div> <!-- /row -->

  </div> <!-- /col-sm-6 -->
</div> <!-- /row -->

<hr class="hr-without-top-margin">


<% if input_disabled %>
  <!-- for "Show" -->
  <div class="row">

    <%= link_to t('Back', default: t("helpers.links.back")), back_url, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>


    <% if examination_policy_check(@examination, params[:category_service], 'destroy') %>
        <%= link_to t('Delete', default: t("helpers.links.destroy")), examination_path(@examination, category_service: @examination.category.downcase, back_url: back_url),
                            method: :delete,
                            data: { confirm: t('helpers.links.confirm_destroy', data: @examination.fullname) }, 
                            :class => "btn btn-danger glyphicon glyphicon-trash" %>
    <% end %>

    <% if examination_policy_check(@examination, params[:category_service], 'edit') %>
        <%= link_to t('Edit', default: t("helpers.links.edit")), edit_examination_path(@examination, category_service: @examination.category.downcase, back_url: back_url), 
                            :class => 'btn btn-primary glyphicon glyphicon-edit' %> 
    <% end %>

<!--
    <%# if @examination.examination_result == 'P' && @examination.certificate.blank? && certificate_policy_check(:certificate, params[:category_service], 'new') %>
      <button id="examination-generate-certificate-and-refresh" ajax-path="<%= generating_certificate_examination_path(params[:category_service], @examination) %>" class="btn btn-success glyphicon glyphicon-certificate pull-right"><%= t('Generating', default: t("link_to.generating_certificate")) %></button>
    <%# end  %> 
-->


    <%# if examination_policy_check(@examination, params[:category_service], 'print') %>
        <%#= link_to t('Print', default: t("helpers.links.print")), 
                            to_pdf_examination_path(@examination, category_service: @examination.category.downcase, :format => "pdf"), 
                            :target => "_blank", :class => 'btn btn-primary glyphicon glyphicon-print' %> 
    <%# end %>

  </div> <!-- /row -->
<% else %>
  <!-- form "New"/"Edit" -->
<% end %>

