<% input_disabled ||= false  
   #if input_disabled is not passed to the partial it doesn't crash. 
   # We default it to false 
%>

<!--  <%= hidden_field_tag :back_url, params[:back_url] %> -->
<%= hidden_field_tag :back_url, back_url %> 

<%= form_errors_for @examination %>


<div class="row">
  <div class="col-sm-7">

    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :esod_category, class: 'control-label' %>
        <%= f.select :esod_category, 
              options_for_select([["#{Esodes::esod_matter_iks_name(Esodes::EGZAMIN)}", Esodes::EGZAMIN],
                                  ["#{Esodes::esod_matter_iks_name(Esodes::POPRAWKOWY)}", Esodes::POPRAWKOWY], 
                                  ["#{Esodes::esod_matter_iks_name(Esodes::ODNOWIENIE_Z_EGZAMINEM)}", Esodes::ODNOWIENIE_Z_EGZAMINEM], 
                                  ["#{Esodes::esod_matter_iks_name(Esodes::ODNOWIENIE_Z_EGZAMINEM_POPRAWKOWY)}", Esodes::ODNOWIENIE_Z_EGZAMINEM_POPRAWKOWY]], selected: @examination.esod_category), 
              { include_blank: false}, 
              { autofocus: @examination.new_record?, class: 'form-control input-sm', disabled: !@examination.new_record? } %>
      </div>
    </div>  <!-- /row -->

    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :division_id, class: 'control-label' %>
        <%= f.select :division_id, 
              Division.only_category_scope(params[:category_service]).by_name.collect {|p| [ "#{p.name} (#{p.short_name})", p.id ]},
              { include_blank: false, multiple: false }, 
              { class: 'form-control input-sm', disabled: !@examination.new_record? } %>
      </div>
    </div>  <!-- /row -->

    <hr class="hr-without-top-margin">

    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :exam_id, class: "control-label" %>
        <%= f.hidden_field :exam_id,
                          class: "form-control input-sm exam_select_#{params[:category_service]}", 
                          placeholder: "Wybierz Sesję",
                          disabled: !@examination.new_record?,
                          style: "width:100%" %>
        <small class="help-block"><%=t 'help_block_text.select2_exam' %></small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :customer_id, class: "control-label" %>
        <%= f.hidden_field :customer_id,
                          class: "form-control input-sm customer_select", 
                          placeholder: "Wybierz Klienta",
                          disabled: !@examination.new_record?,
                          style: "width:100%" %>
        <small class="help-block"><%=t 'help_block_text.select2_customer' %></small>
      </div>
    </div>


    <div class="row">
      <div class="form-group col-sm-12">
        <%= f.label :examination_result, class: 'control-label' %>
        <%= f.select :examination_result, 
              options_for_select([['Negatywny bez prawa do poprawki', 'B'],
                                  ['Negatywny z prawem do poprawki', 'N'],
                                  ['Nieobecny', 'O'],
                                  ['Pozytywny', 'P'], 
                                  ['Zmiana terminu', 'Z']], 
                  selected: @examination.examination_result), 
              { include_blank: true }, 
              { autofocus: !@examination.new_record?, class: 'form-control input-sm', disabled: @examination.new_record? } %>
      </div>
    </div>

  </div>  <!-- /col-sm-7 -->

</div>  <!-- /row -->


<div class="row">
  <div class="col-sm-12">

    <% unless @examination.new_record? %>
      <div class="row">
        <div class="col-sm-12">
          <p><strong>Oceny:</strong></p>
        </div>
      </div>
      <%= f.fields_for :grades, @examination.grades.order(:id) do |g| %>

        <div class="row">
          <div class="form-group col-sm-9">
            <%#= f.label :subject_id, class: 'control-label' %>
            <%= g.select :subject_id, 
                  Subject.all.collect {|p| [ "#{p.name}", p.id ]},
                  { include_blank: false, multiple: false }, 
                  { class: 'form-control input-sm', disabled: true } %>
          </div>
          <div class="form-group col-sm-3">
            <%= g.select :grade_result, 
                      options_for_select([['Negatywna', 'N'],
                                          ['Pozytywna', 'P']], 
                          selected: g.object.grade_result), 
                      { include_blank: true }, 
                      { class: 'form-control input-sm', disabled: input_disabled } %>

          </div>

        </div>

      <% end %> <!-- /f.fields_for -->
    <% end %> <!-- /unless @examination.new_record? -->

  </div> <!-- /col-sm-6 -->

</div> <!-- /row -->

<div class="row">
  <div class="form-group col-sm-7">
    <%= f.label :note, class: 'control-label' %>
    <%= f.text_area :note, :rows => 4, :cols => 50, class: 'form-control input-sm', disabled: input_disabled %>
  </div>
</div>


<hr class="hr-without-top-margin">


<% if input_disabled %>
  <!-- for "Show" -->
<% else %>
  <!-- form "New"/"Edit" -->
  <div class="row">

    <%= link_to back_url, class: "btn btn-default" do %>
      <span class="fa fa-undo"></span>
      <%= t("helpers.links.back") %>
    <% end %>

    <%= f.submit nil, :class => 'btn btn-success' %>
  </div> <!-- /row -->

<% end %>

