<p id="notice"><%= notice %></p>

<h1>Listing Esod Contractors</h1>

<table>
  <thead>
    <tr>
      <th>Nrid</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Nazwa</th>
      <th>Drugie imie</th>
      <th>Tytul</th>
      <th>Nip</th>
      <th>Pesel</th>
      <th>Rodzaj</th>
      <th>Initialized from esod</th>
      <th>Netpar user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @esod_contractors.each do |esod_contractor| %>
      <tr>
        <td><%= esod_contractor.nrid %></td>
        <td><%= esod_contractor.imie %></td>
        <td><%= esod_contractor.nazwisko %></td>
        <td><%= esod_contractor.nazwa %></td>
        <td><%= esod_contractor.drugie_imie %></td>
        <td><%= esod_contractor.tytul %></td>
        <td><%= esod_contractor.nip %></td>
        <td><%= esod_contractor.pesel %></td>
        <td><%= esod_contractor.rodzaj %></td>
        <td><%= esod_contractor.initialized_from_esod %></td>
        <td><%= esod_contractor.netpar_user %></td>
        <td><%= link_to 'Show', esod_contractor %></td>
        <td><%= link_to 'Edit', edit_esod_contractor_path(esod_contractor) %></td>
        <td><%= link_to 'Destroy', esod_contractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contractor', new_esod_contractor_path %>
