<p id="notice"><%= notice %></p>

<p>
  <strong>Nrid:</strong>
  <%= @esod_contractor.nrid %>
</p>

<p>
  <strong>Imie:</strong>
  <%= @esod_contractor.imie %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @esod_contractor.nazwisko %>
</p>

<p>
  <strong>Nazwa:</strong>
  <%= @esod_contractor.nazwa %>
</p>

<p>
  <strong>Drugie imie:</strong>
  <%= @esod_contractor.drugie_imie %>
</p>

<p>
  <strong>Tytul:</strong>
  <%= @esod_contractor.tytul %>
</p>

<p>
  <strong>Nip:</strong>
  <%= @esod_contractor.nip %>
</p>

<p>
  <strong>Pesel:</strong>
  <%= @esod_contractor.pesel %>
</p>

<p>
  <strong>Rodzaj:</strong>
  <%= @esod_contractor.rodzaj %>
</p>

<p>
  <strong>Initialized from esod:</strong>
  <%= @esod_contractor.initialized_from_esod %>
</p>

<p>
  <strong>Netpar user:</strong>
  <%= @esod_contractor.netpar_user %>
</p>

<%= link_to 'Edit', edit_esod_contractor_path(@esod_contractor) %> |
<%= link_to 'Back', esod_contractors_path %>
