<%# add navigation links to this file %>
<% if user_signed_in? %>

  <% if policy(:work).index? %>
    <li><%= link_to works_path do %>
      <span class="<%= t('pages.work.model_icon') %>"></span>&nbsp;<%=t "link_to.works" %>
      <% end %>
    </li>
  <% end %>

  <% if policy(:user).index? || policy(:department).index? || policy(:role).index? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=t "link_to.management" %> <span class="caret"></span></a>

      <ul class="dropdown-menu">

        <% if policy(:user).index? %>
          <li><%= link_to users_path do %>
            <span class="<%= t('pages.user.model_icon') %>"></span>&nbsp;<%=t "devise.link_to.users" %>
            <% end %>
          </li>
        <% end %>

        <% if policy(:department).index? %>
          <li><%= link_to departments_path do %>
            <span class="<%= t('pages.department.model_icon') %>"></span>&nbsp;<%=t "link_to.departments" %>
            <% end %>
          </li>
        <% end %>

        <% if policy(:role).index? %>
          <li><%= link_to roles_path do %>
            <span class="<%= t('pages.role.model_icon') %>"></span>&nbsp;<%=t "link_to.roles" %>
            <% end %>
          </li>
        <% end %>

        <% if policy(:division).index? %>
          <li><%= link_to divisions_path do %>
            <span class="<%= t('pages.division.model_icon') %>"></span>&nbsp;<%=t "link_to.divisions" %>
            <% end %>
          </li>
        <% end %>

      </ul>
    </li>
  <% end %>


  <li><%= link_to edit_user_registration_path do %>
    <span class="fa fa-edit"></span>&nbsp;<%= current_user.name %>
    <% end %>
  </li>
  <li><%= link_to destroy_user_session_path, :method=>'delete' do %>
    <span class="glyphicon glyphicon-log-out"></span>&nbsp;<%=t "devise.link_to.sign_out" %>
    <% end %>
  </li>
<% else %>
  <% if request_from_the_security_area? %>
    <li><%= link_to new_user_session_path do %>
      <span class="glyphicon glyphicon-log-in"></span>&nbsp;<%=t "devise.link_to.sign_in" %>
      <% end %>
    </li>
  <% end %>
<% end %>