<%# add navigation links to this file %>
<% if user_signed_in? %>

  <% if policy(:esod).index? %>
    <li><%= link_to esod_matters_path do %>
      <span class="glyphicon glyphicon-retweet"></span>&nbsp;<%=t "link_to.esod_matters" %>
      <% end %>
    </li>
  <% end %>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=t "link_to.certificates" %> <span class="caret"></span></a>

    <ul class="dropdown-menu">
      <% if policy(:certificate).index_l? %>
        <li><%= link_to certificates_path(category_service: "l") do %>
          <span class='<%= t("pages.certificate.model_icon") %>'></span>&nbsp;
          <%=t "link_to.certificates_l" %>
          <% end %>
        </li>
      <% end %>
      <% if policy(:certificate).index_m? %>
        <li><%= link_to certificates_path(category_service: "m") do %>
          <span class='<%= t("pages.certificate.model_icon") %>'></span>&nbsp;
          <%=t "link_to.certificates_m" %>
          <% end %>
        </li>
      <% end %>
      <% if policy(:certificate).index_r? %>
        <li><%= link_to certificates_path(category_service: "r") do %>
          <span class='<%= t("pages.certificate.model_icon") %>'></span>&nbsp;
          <%=t "link_to.certificates_r" %>
          <% end %>
        </li>
      <% end %>

      <li class="divider"></li>

      <% if policy(:exam).index_l? %>
        <li><%= link_to show_charts_certificates_path(category_service: "l") do %>
          <span class='<%= t("pages.charts_certificates.model_icon") %>'></span>&nbsp;
          <%=t "link_to.charts_certificates_l" %>
          <% end %>
        </li>
      <% end %>
      <% if policy(:exam).index_m? %>
        <li><%= link_to show_charts_certificates_path(category_service: "m") do %>
          <span class='<%= t("pages.charts_certificates.model_icon") %>'></span>&nbsp;
          <%=t "link_to.charts_certificates_m" %>
          <% end %>
        </li>
      <% end %>
      <% if policy(:exam).index_r? %>
        <li><%= link_to show_charts_certificates_path(category_service: "r") do %>
          <span class='<%= t("pages.charts_certificates.model_icon") %>'></span>&nbsp;
          <%=t "link_to.charts_certificates_r" %>
          <% end %>
        </li>
      <% end %>


      <li class="divider"></li>

      <% if policy(:exam).index_l? %>
        <li><%= link_to statistic_filter_certificates_path(category_service: "l") do %>
          <span class='<%= t("pages.statistic_certificates.model_icon") %>'></span>&nbsp;
          <%=t "link_to.statistic_certificates_l" %>
          <% end %>
        </li>
      <% end %>
      <% if policy(:exam).index_m? %>
        <li><%= link_to statistic_filter_certificates_path(category_service: "m") do %>
          <span class='<%= t("pages.statistic_certificates.model_icon") %>'></span>&nbsp;
          <%=t "link_to.statistic_certificates_m" %>
          <% end %>
        </li>
      <% end %>
      <% if policy(:exam).index_r? %>
        <li><%= link_to statistic_filter_certificates_path(category_service: "r") do %>
          <span class='<%= t("pages.statistic_certificates.model_icon") %>'></span>&nbsp;
          <%=t "link_to.statistic_certificates_r" %>
          <% end %>
        </li>
      <% end %>
      <% if policy(:exam).index_r? %>
        <li><%= link_to statistic_filter_examinations_path(category_service: "r") do %>
          <span class='<%= t("pages.statistic_examinations.model_icon") %>'></span>&nbsp;
          <%=t "link_to.statistic_examinations_r" %>
          <% end %>
        </li>
      <% end %>




    </ul>
  </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=t "link_to.exams" %> <span class="caret"></span></a>

    <ul class="dropdown-menu">
      <% if policy(:proposal).index_m? %>
        <li><%= link_to proposals_path(category_service: "m") do %>
          <span class='<%= t("pages.proposal.model_icon") %>'></span>&nbsp;
          <%=t "link_to.proposals_m" %>
          <% end %>
        </li>
      <% end %>
      <% if policy(:proposal).index_r? %>
        <li><%= link_to proposals_path(category_service: "r") do %>
          <span class='<%= t("pages.proposal.model_icon") %>'></span>&nbsp;
          <%=t "link_to.proposals_r" %>
          <% end %>
        </li>
      <% end %>

      <li class="divider"></li>

      <% if policy(:exam).index_l? %>
        <li><%= link_to exams_path(category_service: "l") do %>
          <span class='<%= t("pages.exam.model_icon") %>'></span>&nbsp;
          <%=t "link_to.exams_l" %>
          <% end %>
        </li>
      <% end %>
      <% if policy(:exam).index_m? %>
        <li><%= link_to exams_path(category_service: "m") do %>
          <span class='<%= t("pages.exam.model_icon") %>'></span>&nbsp;
          <%=t "link_to.exams_m" %>
          <% end %>
        </li>
      <% end %>
      <% if policy(:exam).index_r? %>
        <li><%= link_to exams_path(category_service: "r") do %>
          <span class='<%= t("pages.exam.model_icon") %>'></span>&nbsp;
          <%=t "link_to.exams_r" %>
          <% end %>
        </li>
      <% end %>

      <li class="divider"></li>

      <% if policy(:exam).index_l? %>
        <li><%= link_to statistic_filter_exams_path(category_service: "l") do %>
          <span class='<%= t("pages.statistic_exams.model_icon") %>'></span>&nbsp;
          <%=t "link_to.statistic_exams_l" %>
          <% end %>
        </li>
      <% end %>
      <% if policy(:exam).index_m? %>
        <li><%= link_to statistic_filter_exams_path(category_service: "m") do %>
          <span class='<%= t("pages.statistic_exams.model_icon") %>'></span>&nbsp;
          <%=t "link_to.statistic_exams_m" %>
          <% end %>
        </li>
      <% end %>
      <% if policy(:exam).index_r? %>
        <li><%= link_to statistic_filter_exams_path(category_service: "r") do %>
          <span class='<%= t("pages.statistic_exams.model_icon") %>'></span>&nbsp;
          <%=t "link_to.statistic_exams_r" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>

  <% if policy(:customer).index? %>
    <li><%= link_to customers_path do %>
      <span class='<%= t("pages.customer.model_icon") %>'></span>&nbsp;
      <%=t "link_to.customers" %>
      <% end %>
    </li>
  <% end %>

  <% if policy(:license).show? %>
    <li><%= link_to licenses_path do %>
      <span class="glyphicon glyphicon-book"></span>&nbsp;<%=t "link_to.licenses" %>
      <% end %>
    </li>
  <% end %>

<% end %>