<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t("content_title") %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "NetPAR2015" %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


    <%= csrf_meta_tags %>

    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <%= yield(:upper_part_page) %>
    <main role="main">
      <%= render 'layouts/messages' %>       
      <%= yield %>
    </main>
    <%= yield(:bottom_part_page) %>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
